
@model VanLangDoctor.Models.DANH_GIA

@{
    ViewBag.Title = "Đánh giá";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var danhgia = (IEnumerable<VanLangDoctor.Models.DANH_GIA>)ViewBag.DanhGia;
}

<div class="page-wrapper" style="display: block;">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly/bac-si/danh-sach" class="text-muted">Danh sách bác sĩ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-back" href="~/trang-chu-quan-ly/bac-si/danh-sach">
                        <span-back>Trở về</span-back>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4>Tất cả đánh giá về <strong>@Model.BACSI.TEN_BACSI</strong></h4>
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert" id="successMessage">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true" style=" float: right; margin-top: -10px">×</span>
                                </button>
                                <strong>@TempData["Success"]</strong>
                            </div>
                        }
                        <hr />
                        <div class="container">
                            @foreach (var item in danhgia)
                            {
                                using (Html.BeginForm("ApproveRating", "QL_BacSi", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="row">
                                        <input type="hidden" name="ID_USER" value="@item.ID_USER" />
                                        <input type="hidden" name="ID_BACSI" value="@item.ID_BACSI" />
                                        <input type="hidden" name="NHAN_XET" value="@item.NHAN_XET" />
                                        <input type="hidden" name="rating" value="@item.RATING" />
                                        <input type="hidden" name="NGAY_TAO" value="@item.NGAY_TAO" />
                                        <input type="hidden" name="TRANG_THAI" value="@item.TRANG_THAI.ToString()" />
                                        <input type="hidden" name="ID" value="@item.ID" />

                                        <div class="col col-3">@item.AspNetUser.UserName</div>
                                        <div class="col col-2 wrap-breadcrumb">@item.NHAN_XET</div>
                                        <div class="col col-1">@item.RATING sao</div>
                                        <div class="col col-2">@item.NGAY_TAO.Value.ToString("g")</div>
                                        <div class="col col-2">
                                            @if (@item.TRANG_THAI.Equals(true))
                                            {<strong>Đang hiện</strong>}
                                            else
                                            { <strong>Đã bị ẩn</strong>}
                                        </div>
                                        <div class="col col-1">
                                            @if (@item.TRANG_THAI.Equals(true))
                                            {<button class="button" title="Ẩn đánh giá tiêu cực về bác sĩ" style="background-color:#00000050"><i class="fa fa-eye"></i></button>}
                                            else
                                            { <button class="button" title="Hiện đánh giá"><i class="fa fa-eye-slash"></i></button>}
                                        </div>

                                    </div>
                                    <hr />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

