
@model VanLangDoctor.Models.DANH_GIA

@{
    ViewBag.Title = "Đánh giá";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var danhgia = (IEnumerable<VanLangDoctor.Models.DANH_GIA>)ViewBag.DanhGia;
}

<div class="page-wrapper" style="display: block;">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly/bac-si/danh-sach" class="text-muted">Danh sách bác sĩ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-back" href="~/trang-chu-quan-ly/bac-si/danh-sach">
                        <span-back>Trở về</span-back>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                @foreach (var item in danhgia)
                {
                    using (Html.BeginForm("ApproveRating", "QL_BacSi", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <input type="hidden" name="ID_USER" value="@item.ID_USER" />
                            <input type="hidden" name="ID_BACSI" value="@item.ID_BACSI" />
                            <input type="hidden" name="NHAN_XET" value="@item.NHAN_XET" />
                            <input type="hidden" name="rating" value="@item.RATING" />
                            <input type="hidden" name="NGAY_TAO" value="@item.NGAY_TAO" />
                            <input type="hidden" name="ID" value="@item.ID" />
                            <div>Tên bác sĩ:  @item.BACSI.TEN_BACSI</div>
                            <div>Nhận xét:  @item.NHAN_XET</div>
                            <div>Rating:  @item.RATING sao</div>
                            <div>Người đánh giá: @item.AspNetUser.UserName"</div>
                            <div>Ngày đăng: @item.NGAY_TAO.Value.ToString("g")</div>
                            <div>
                                Trạng thái: @if (@item.TRANG_THAI.Equals(true))
                                {<strong>Hiện</strong>}
                                else
                                { <strong>Ẩn</strong>}
                            </div>
                            <div class="row">
                                @if (item.TRANG_THAI.Equals(true))
                                {
                                    <div class="col-3"><button class="button" title="Ẩn đánh giá tiêu cực về bác sĩ" style="background-color:#00000050">Ẩn đánh giá</button></div>
                                }
                                else
                                {
                                    <div class="col-3"><button class="button" title="Hiện đánh giá">Hiện đánh giá</button></div>
                                }
                            </div>
                            <hr />

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)

                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>