@model VanLangDoctor.Areas.Admin.Controllers.bigViewModel
@{
    ViewBag.Title = "Phân quyền tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/assets-ad/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="~/Content/dist-ad/css/style.min.css" rel="stylesheet">
<link href="~/Content/formcrud.css" rel="stylesheet" />
<div class="page-wrapper" style="display: block">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-plus" href="@Url.Action("Create","PhanQuyen")">
                        <span>Thêm quyền</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table class="table table-hover table-primary">
                        <thead>
                            <tr class="bg-info text-white">
                                <th scope="col">Quyền</th>
                                <th scope="col">Tài khoản</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var role in Model.Roles)
                            {
                                <tr class="bg-info text-white">
                                    <td>@role.Name</td>
                                    <td></td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { id = role.Id})" style="color: white">Chỉnh sửa</a> ||
                                        <a href="@Url.Action("PhanQuyen", "PhanQuyen", new { roleId = role.Id})" style="color: white">Thêm tài khoản</a> ||
                                        <a href="@Url.Action("XoaQuyen","PhanQuyen", new { id = role.Id})" style="color: white">Xóa quyền</a>
                                    </td>
                                </tr>
                                foreach (var user in role.AspNetUsers)
                                {
                                    <tr class="">
                                        <td></td>
                                        <td>@user.UserName</td>
                                        <td><a href="@Url.Action("Delete", new { RoleId = role.Id, UserId = user.Id})">Thu hồi quyền</a></td>
                                    </tr>

                                }
                            }
                            <tr class="bg-info text-white">
                                <td>Tất cả tài khoản</td>
                                <td></td>
                                <td></td>
                            </tr>
                            @foreach (var acc in Model.Users)
                            {
                                <tr>
                                    <td></td>
                                    <td>@acc.UserName</td>
                                    <td></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
