@model VanLangDoctor.Models.BACSI

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Xin chào</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index", "QL_BACSI_")">Thông tin bác sĩ</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <form action="@Url.Action("Details", "QL_BACSI_")" method="get">
                <div class="container">
                    <h1>Bác sĩ</h1>
                    <p>Thông tin chi tiết của bác sĩ</p>
                    <hr>
                    <label for="ten_bacsi"><b>Tên bác sĩ</b></label>
                    <input type="text" placeholder="@Html.DisplayFor(model => model.TEN_BACSI)" name="ten_bacsi" readonly required>

                    <label for="ngay_sinh"><b>Ngày sinh</b></label>
                    <input type="text" placeholder="@Html.DisplayFor(model => model.NGAYSINH_BS)" name="ngay_sinh" readonly required>

                    <label for="gioi_tinh"><b>Giới tính</b></label>
                    <input type="text" placeholder="@Html.DisplayFor(model => model.GIOI_TINH)" name="gioi_tinh" readonly required>

                    <label for="sdt"><b>Số điện thoại</b></label>
                    <input type="text" placeholder="@Html.DisplayFor(model => model.SDT)" name="sdt" readonly required>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="@Html.DisplayFor(model => model.EMAIL)" name="email" readonly required>

                    <label for="nghe_nghiep"><b>Nghề nghiệp</b></label>
                    <input type="text" placeholder="@Html.DisplayFor(model => model.NGHE_NGHIEP)" name="nghe_nghiep" readonly required>

                    <label for="ten_khoa"><b>Tên khoa</b></label>
                    <input type="text" placeholder="@Html.DisplayFor(model => model.KHOA.TEN_KHOA)" name="ten_khoa" readonly required>

                    <label for="kinh_nghiem"><b>Kinh nghiệm</b></label>
                    <input type="text" placeholder="@Html.DisplayFor(model => model.KINH_NGHIEM)" name="kinh_nghiem" readonly required>

                    <label for="ngay_truc"><b>Ngày trực</b></label>
                    <input type="text" placeholder="@Html.DisplayFor(model => model.NGAY_TRUC)" name="ngay_truc" readonly required>

                    <label for="hinh_anh"><b>Hình ảnh</b></label>
                    <img id="Picture" src="@Url.Action("Picture", new {Model.ID_BACSI})" width="300" />

                    <div class="form-actions no-color">
                        <a href="@Url.Action("Edit", "QL_BACSI_", new { id = Model.ID_BACSI})" style="text-align:center" id="update" class="btn">
                            Cập nhật
                        </a>
                        @Html.ActionLink("Quay lại", "Index")
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>