@model VanLangDoctor.Models.BACSI

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper" style="display: block">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Xin chào</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index_BS", "QL_BacSi")">Thông tin bệnh nhân</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->

        <div class="container-fluid">
           



            <form>
                <div>
                    <h4>BACSI</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.TEN_BACSI)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TEN_BACSI)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NGAYSINH_BS)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NGAYSINH_BS)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.GIOI_TINH)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.GIOI_TINH)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SDT)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SDT)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EMAIL)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EMAIL)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.HINH_ANH)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.HINH_ANH)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NGHE_NGHIEP)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NGHE_NGHIEP)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.KINH_NGHIEM)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KINH_NGHIEM)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NGAY_TRUC)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NGAY_TRUC)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.KHOA.TEN_KHOA)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KHOA.TEN_KHOA)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_BACSI }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </form>
        </div>
</div>
</div>