@model IEnumerable<VanLangDoctor.Models.BACSI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper" style="display: block">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Xin chào</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index_BS", "QL_BacSi")">Thông tin bệnh nhân</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
       
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                    <p>
                                        @Html.ActionLink("Create New", "Create")
                                    </p>
                                        <tbody>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.TEN_BACSI)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.NGAYSINH_BS)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.GIOI_TINH)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.SDT)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.EMAIL)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.HINH_ANH)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.NGHE_NGHIEP)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.KINH_NGHIEM)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.NGAY_TRUC)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.KHOA.TEN_KHOA)
                                                </th>
                                                <th></th>
                                            </tr>

                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TEN_BACSI)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NGAYSINH_BS)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.GIOI_TINH)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SDT)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.EMAIL)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.HINH_ANH)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NGHE_NGHIEP)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.KINH_NGHIEM)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NGAY_TRUC)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.KHOA.TEN_KHOA)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_BACSI }) |
                                                        @Html.ActionLink("Details", "Details", new { id = item.ID_BACSI }) |
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_BACSI })
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                   </table>
                            </div>
                        </div>
                    </div>
                    </div>
</div>
</div>
</div>
</div>