@using Microsoft.AspNet.Identity;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets-ff/css/bootstrap.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets-ff/css/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets-ff/vendor/owl-slider.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets-ff/vendor/settings.css")" />
    <link rel="shortcut icon" href="@Url.Content("~/Content/assets-ff/images/favicon.png")" />
    <script type="text/javascript" src="@Url.Content("~/Content/assets-ff/js/jquery-3.2.0.min.js")"></script>

    <title>Trang chủ</title>
</head>

<body>
    <div class="awe-page-loading">
        <div class="awe-loading-wrapper">
            <div class="awe-loading-icon">
                <img src="@Url.Content("~/Content/assets-ff/images/logoVLDnobrw.png")" alt="images">
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content popup-search">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="modal-body">
                    <div class="input-group">
                        <input type="text" class="form-control control-search" placeholder="Search and hit enter...">
                        <button class="button_search" type="button">Tìm kiếm</button>
                    </div><!-- /input-group -->

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- End pushmenu -->
    <div class="wrappage">
        <!-- <div id="rtl">RTL</div> -->
        <header id="header" class="header-v3 header-v2">
            <div id="topbar" class="topbar-ver2">
                <div class="container container-ver2">
                    <div class="inner-topbar box">
                        <div class="float-left">
                            <p><img src="@Url.Content("~/Content/assets-ff/images/icon-phone-header.png.png")" alt="icon"> Gọi ngay <span> 0123456789</span></p>
                        </div>
                        <div class="float-right align-right">
                            <div class="hover-menu">
                                @using Microsoft.AspNet.Identity
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <a class="acc" href="#" title="USD"><img src="@Url.Content("~/Content/assets-ff/images/icon-user-header.png")" alt="icon">Tài Khoản</a>
                                    <ul class="list-menu" style="text-align: left; border: none; border-radius: 0.5em; padding: 0em ">
                                        <li style="margin:5px">@Html.ActionLink("Đăng ký", "Register", "../Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                        <li style="margin:5px">@Html.ActionLink("Đăng nhập", "Login", "../Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                    </ul>
                                }
                                else
                                {
                                    <a class="acc" href="#" title="USD">@Html.ActionLink("Xin chào! " + User.Identity.GetUserName(), "CapnhatTK", "CapnhatTK", routeValues: null, htmlAttributes: new { type = "Cập nhật thông tin" })</a>
                                    using (Html.BeginForm("LogOff", "../Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken();
                                        <ul class="list-menu" style="text-align: left; border: none; border-radius: 1em; left:20%; top:100%">
                                            <li>
                                                @Html.ActionLink("Cập nhật tài khoản", "UpdateInfo", "UpdateInfo", routeValues: null, htmlAttributes: new { @class = "icon-edit", @title = "Cập nhật thông tin" })
                                            </li>
                                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-sign-out">  Đăng xuất</i></a></li>
                                        </ul>
                                    }
                                }

                            </div>
                            <!-- End hover-menu -->
                        </div>
                    </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End topbar -->
            <div class="header-top">
                <div class="container container-ver2">
                    <div class="box">
                        <p class="icon-menu-mobile"><i class="fa fa-bars"></i></p>
                        <div class="logo">
                            <a href="#" title="Uno">
                                <img height="60" width="145" src="@Url.Content("~/Content/assets-ff/images/logoVLDnobrr.png")" alt="images">
                            </a>
                        </div>
                        <div class="logo-mobile"><a href="@Url.Action("HomeUser", "HomeUser")" title="Xanadu"><img src="@Url.Content("~/Content/assets-ff/images/logo-v2.png")" alt="Xanadu-Logo"></a></div>

                        <div class="box-right">
                            <nav class="mega-menu">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <ul class="nav navbar-nav" id="navbar">
                                    <li class="level1"><a href="@Url.Action("HomeUser", "HomeUser")" title="Home">Trang chủ</a></li>
                                    <li class="level1"><a href="@Url.Action("About", "AboutUs")" title="About us">Giới thiệu</a></li>
                                    <li class="level1">
                                        <a href="@Url.Action("Doctor", "Doctors")" title="Doctor">Bác sĩ</a>
                                    </li>
                                    <li class="level1">
                                        <a href="#" title="Page">Thuốc</a>
                                    </li>
                                    <li class="level1"><a href="blog_details.html" title="collections">Hồ sơ</a></li>
                                    <li class="level1"><a href="@Url.Action("Contact", "ContactUs")" title="Contact us">Liên hệ</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- End container -->
                </div>
                <!-- End header-top -->
            </div>
        </header><!-- /header -->

        @RenderBody()
        <footer id="footer" class="footer-v3 align-left">
            <div class="container container-ver2">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h3 class="title-footer">Về chúng tôi</h3>
                            <p>Đại học Văn Lang với tuổi đời 25 năm trong ngành giáo dục, chúng tôi tự tin mang lại cho mọi người những sản phẩm mà sinh viên chúng tôi đào tạo mang lại cho mọi người.</p>
                            <a class="link-footer" href="#" title="footer">Đọc thêm <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3 class="title-footer">Thông tin</h3>
                            <ul class="list-footer">
                                <li><a href="#" title="title">Giới thiệu</a></li>
                                <li><a href="#" title="title">Tìm bác sĩ</a></li>
                                <li><a href="#" title="title">Chính sách hoạt động</a></li>
                                <li><a href="#" title="title">Chính sách bảo mật</a></li>
                                <li><a href="#" title="title">Thông tin chung</a></li>
                                @*<li><a href="#" title="title">Our Stores</a></li>*@
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3 class="title-footer">Mạng xã hội</h3>
                            <div class="social space-30">
                                <a href="#" title="t"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="f"><i class="fa fa-facebook"></i></a>
                                <a href="#" title="y"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" title="g"><i class="fa fa-google"></i></a>
                            </div>
                            <h3 class="title-footer">Đơn vị hợp tác</h3>
                            <a href="#" title="paypal"><img src="@Url.Content("~/Content/assets-ff/images/paypal-footer.png")" alt="images"></a>
                        </div>
                        <!--<div class="col-md-4 col-sm-6">
                            <h3 class="title-footer">Get Newsletter</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
                            <div class="subscribe">
                                <form action="#" method="get" accept-charset="utf-8">
                                    <input type="text" onblur="if (this.value == '') {this.value = 'Enter Your Email Address';}" onfocus="if(this.value != '') {this.value = '';}" value="Enter Your Email Address" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter" name="email">
                                    <button class="button button1 hover-white" title="Subscribe" type="submit">Subscribe<i class="fa fa-long-arrow-right"></i></button>
                                </form>
                            </div>-->
                        <!-- End subscribe -->
                        <!--</div>-->
                    </div>
                    <!-- End row -->
                </div>
                <!-- End footer-inner -->
            </div>
            <!-- End container -->
            <div class="footer-bottom box">
                <div class="container container-ver2">
                    <div class="box bottom">
                        <p class="float-left">Website make by&copy;PinkPanther.</p>
                        <div class="float-right">
                            <ul class="menu-bottom-footer">
                                <li><a href="#" title="Contact Us">Giới thiệu về chúng tôi</a></li>
                                <li><a href="#" title="Term of Use">Tầm nhìn</a></li>
                                <li><a href="#" title="Privacy Policy">Chính sách bảo mật</a></li>
                                <li><a href="#" title="Site Map">Tọa lạc</a></li>
                            </ul>
                            <div class="language">
                                <span>Language:</span>
                                <div class="hover-menu">
                                    <p>VN <i class="fa fa-angle-down"></i></p>
                                    <div class="list-menu">
                                        <ul>
                                            <li><a href="#" title="EN">EN</a></li>
                                            <li><a href="#" title="VN">VN</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End language -->
                        </div>
                    </div>
                </div>
                <!-- End container -->
            </div>
        </footer>
    </div>
    <!-- End wrappage -->
    <script type="text/javascript" src="@Url.Content("~/Content/assets-ff/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets-ff/js/owl.carousel.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets-ff/js/jquery.themepunch.revolution.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets-ff/js/jquery.themepunch.plugins.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets-ff/js/engo-plugins.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Content/assets-ff/js/slick.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets-ff/js/store.js")"></script>
    @RenderSection("Scripts", false)
    <script>
        $(document).ready(() => {
            $("#btnLogin").click(() => {
                $("#VanLang").click();
            });
            //$('#logoff').click(() => {
            //    $('#form-logoff').click();
            //});
        });
    </script>
</body>
</html>