<!DOCTYPE html>
<html>
<head>
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>VanLangDoctor &amp; Home</title>
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/assets/img/favicons/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/assets/img/favicons/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/assets/img/favicons/favicon-16x16.png")">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("/assets/img/favicons/favicon.ico")">
    <link rel="manifest" href="@Url.Content("~/Content/assets/img/favicons/manifest.json")">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Content/assets/img/favicons/mstile-150x150.png")">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="@Url.Content("~/Content/assets/css/theme.css")" rel="stylesheet" />
</head>
<body>
    </div>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <header>
        <main class="main" id="top">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center fw-bold fs-2" href="#"><img class="d-inline-block me-3" src="@Url.Content("~/Content/assets/img/icons/vlunoo.png")" height="48" width="40" alt="" />VanLangDoctor</a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto pt-2 pt-lg-0">
                            <li class="nav-item"><a class="nav-link fw-bold active" aria-current="page" href="#">Trang chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Tin Tức</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Thuốc</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Bác Sĩ</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Bệnh Án</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="py-0">
                <div class="bg-holder" style="background-image:@Url.Content("~/Content/assets/img/illustrations/dot.png)")" ;background-position:left;background-size:auto;margin-top:-105px;">
                </div>
                <!--/.bg-holder-->

                <div class="container position-relative">
                    <div class="row align-items-center">
                        <div class="col-md-5 col-lg-6 order-md-1 pt-8"><img class="img-fluid" src="@Url.Content("~/Content/assets/img/illustrations/hero-header.png")" alt="" /></div>
                        <div class="col-md-7 col-lg-6 text-center text-md-start pt-5 pt-md-9">
                            <h1 class="mb-4 display-3 fw-bold">VanLangDoctor<br class="d-block d-lg-none d-xl-block" />Trang tư vấn sức khỏe online dành cho bạn.</h1>
                            <p class="mt-3 mb-4 fs-1">VanLangDoctor là website tư vấn online về sức khỏe, <br class="d-none d-lg-block" />tin tức cũng như thông tin thuốc <br class="d-none d-lg-block" />dành cho tất cả mọi người</p><a class="btn btn-lg btn-primary rounded-pill hover-top" href="#" role="button">ĐI ĐẾN TIN TỨC</a>
                        </div>
                    </div>
                </div>
            </section>
    </header>

    <footer>
        <section class="py-6 pt-7 bg-primary-gradient">
            <div class="bg-holder" style="background-image:@Url.Content("~/Content/assets/img/illustrations/dot.png");background-position:left bottom;background-size:auto;filter:contrast(1.5);">
            </div>
            <!--/.bg-holder-->
            <div class="bg-holder" style="background-image:@Url.Content("~/Content/assets/img/illustrations/dot-2.png");background-position:right top;background-size:auto;margin-top:-75px;">
            </div>
            <!--/.bg-holder-->
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 order-0 order-sm-0 pe-6">
                        <a class="text-decoration-none" href="#"><img class="img-fluid me-2" src="@Url.Content("~/Content/assets/img/icons/vlunoo.png")" height="30" width="25" /><span class="fw-bold fs-1 text-light">VanLangDoctor</span></a>
                        <p class="mt-3 text-white">VanLangDoctor cung cấp dịch vụ chăm sóc sức khỏe tiến bộ có thể truy cập trên thiết bị di động và trực tuyến cho mọi người.</p>
                    </div>
                    <div class="col-4 col-md-4 col-lg mb-3 order-2 order-sm-1">
                        <h6 class="lh-lg fw-bold text-light">Website</h6>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Tin Tức</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Thuốc</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Bác Sĩ</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Trang Chủ</a></li>
                        </ul>
                    </div>
                    <div class="col-4 col-md-4 col-lg mb-3 order-3 order-sm-2">
                        <h6 class="lh-lg fw-bold text-light"> Region </h6>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Indonesia</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Singapore</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Guide</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Hongkong</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Canada</a></li>
                        </ul>
                    </div>
                    <div class="col-4 col-md-4 col-lg mb-3 order-1 order-sm-3">
                        <h6 class="lh-lg fw-bold text-light">Help </h6>
                        <ul class="list-unstyled mb-md-4 mb-lg-0">
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Help center</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Contact support</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Guide</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">Instructions</a></li>
                            <li class="lh-lg"><a class="text-light fs--1 text-decoration-none" href="#!">How it works</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-2">

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center">
                            <p class="mb-0">
                                &copy; Website make by&nbsp;
                                <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#458FF6" viewBox="0 0 16 16">
                                    <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                                </svg>&nbsp;by&nbsp;<a class="text-black" href="https://themewagon.com/" target="_blank">PinkPanther </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- end of .container-->

        </section>
    </footer>
    <!-- <section> close ============================-->
    </main>
    @RenderBody()
    <script src="@Url.Content("~/Content/vendors/@popperjs/popper.min.js")"></script>
    <script src="@Url.Content("~/Content/vendors/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/vendors/is/is.min.js")"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="@Url.Content("~/Content/assets/js/theme.js")"></script>

    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&amp;display=swap" rel="stylesheet">

</body>
</html>