@model IEnumerable<VanLangDoctor.Models.DON_THUOC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KET_QUA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHUAN_DOAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CHI_DINH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOI_DAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAY_LAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BACSI.TEN_BACSI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SO_KHAM_BENH.ID_SOKHAMBENH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KET_QUA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUAN_DOAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHI_DINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOI_DAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY_LAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BACSI.TEN_BACSI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SO_KHAM_BENH.ID_SOKHAMBENH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_DON_THUOC }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_DON_THUOC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_DON_THUOC })
        </td>
    </tr>
}

</table>
