@model VanLangDoctor.Models.BACSI

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-7">
            <h2>CHỈNH SỬA BÁC SĨ</h2>
        </div>
        <br />
        <br />

        <div class="col-5 text-right">
            <div class="input-group">
                @Html.ActionLink("QUAY LẠI", "Index")
            </div>
        </div>
    </div>
   
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_BACSI)

        <div class="form-group">
            TÊN BÁC SĨ
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_BACSI, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEN_BACSI, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            NGÀY SINH
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAYSINH_BS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGAYSINH_BS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            GIỚI TÍNH
            <div class="col-md-10">
                @Html.EditorFor(model => model.GIOI_TINH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GIOI_TINH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            SỐ ĐIỆN THOẠI
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            EMAIL
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            HÌNH ẢNH
            <div class="col-md-10">
                @Html.EditorFor(model => model.HINH_ANH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HINH_ANH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            NGHỀ NGHIỆP
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGHE_NGHIEP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGHE_NGHIEP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_KHOA, "ID_KHOA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ID_KHOA", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_KHOA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            KINH NGHIỆM
            <div class="col-md-10">
                @Html.EditorFor(model => model.KINH_NGHIEM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KINH_NGHIEM, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            NGÀY TRỰC
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAY_TRUC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGAY_TRUC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu " class="btn btn-default" />
            </div>
        </div>
    </div>
}




