@model IEnumerable<VanLangDoctor.Models.BACSI>
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}

<br />
<br />
<br />
<br />
<br />
<h1>
    Danh sách bác sĩ
</h1>
<br />
<h5 style="color: #C0C0C0 ">
    Bệnh nhân / Bác Sĩ / Danh sách bác sĩ
</h5>
<br />

<link href="@Url.Content("~/Areas/css/dataTables.bootstrap4.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Areas/js/jquery-3.4.1.min.js")"></script>
<script src="@Url.Content("~/Areas/js/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Areas/js/dataTables.bootstrap4.min.js")"></script>
<script>
    jQuery(document).ready(function ($) {
        var table = $('#tbBacSi').DataTable({
            "lengthMenu": [7, 20, 30, 100],
            "ordering": false,
            "language": {
                "decimal": "",
                "emptyTable": "Không có dữ liệu",
                "info": "Hiện từ _START_ tới _END_ trong _TOTAL_ dòng",
                "infoEmpty": "Hiện từ 0 tới 0 trong 0 dòng",
                "infoFiltered": "(tìm kiếm từ _MAX_)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Hiển thị _MENU_ dòng",
                "loadingRecords": "Đảng tải xuống...",
                "processing": "Đang xử lý...",
                "search": "Tìm kiếm:",
                "zeroRecords": "Không tìm thấy dữ liệu",
                "paginate": {
                    "first": "&laquo;",
                    "last": "&raquo;",
                    "next": "&rsaquo;",
                    "previous": "&lsaquo;"
                },
                "select": {
                    "rows": {
                        _: 'Đã chọn %d dòng',
                        0: ''
                    }
                }
            },
            "ajax": {
                "url": '@Url.Action("jsonBS", "BACSIsAdmin")',
                "type": "POST",
                "data": function (d) {
                    d.tk = $("#tk option:selected").val();
                },
                "datatype": "json"
            },
            "columns": [
                
                { "data": "IDBS", "name": "IDBS" },
                { "data": "TENBACSI", "name": "TENBACSI" },
                { "data": "SDT", "name": "SDT" },
                { "data": "TUOI", "name": "TUOI" },
                { "data": "EMAIL", "name": "EMAIL" },
                { "data": "GIOI_TINH", "name": "GIOI_TINH" },
                { "data": "KHOA", "name": "KHOA" },
                { "data": "NGAYTRUC", "name": "NGAYTRUC" },
                { "data": "BHYT", "name": "BHYT" },
               
                { "data": "IMG_BACSI", "name": "IMG_BACSI" },
                { "data": "NGAYSINH", "name": "NGAYSINH" },
                { "data": "KINHNGHIEM", "name": "KINHNGHIEM" }
                @{ if (User.IsInRole("Admin"))
                    {
                        @Html.Raw(", { 'data': 'IDBACSI', 'render': function(data) { return '<a class=\"btn btn-info btnchoose btn-sm\" href=\"/Admin/BACSIsAdmin/Edit/' + data + '\">Sửa</a>'} }");
                        @Html.Raw(", { 'data': 'IDBACSI', 'render': function(data) { return '<a class=\"btn btn-info btnchoose btn-sm\" href=\"/Admin/BACSIsAdmin/Delete/' + data + '\">Xóa</a>'} }");
                    }

                }
            ],
            "serverSide": "true",
            "processing": "true"
        });
        $('#tk').on('change', function () {
            table.ajax.reload();
        });
    });
</script>

<style>
    .scrollable {
        height: 500px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-x :scroll;
    }

        .scrollable table thead th {
            
            
            background-color: white;
        }

    .table-fixed tr {
        display: inline-block;
    }
</style>

<div class="site-section">

    <div class="content">
        <div class="row">
                <div class="col-7">

                    <a class="btn btn-primary" href="@Url.Action("Create","BACSIsAdmin")">Tạo Bác Sĩ</a>
                </div>
                <br />
                <br />

                <div class="col-5 text-right">
                    <div class="input-group">
                        Chuyên Khoa :  @Html.DropDownList("tk", (IEnumerable<SelectListItem>)ViewBag.CHUYENKHOA, new { @Class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="scrollable">
                <table class="table table-striped table-bordered " id="tbBacSi" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>TÊN BÁC SĨ</th>
                            <th>SĐT</th>
                            <th>TUỔI</th>
                            <th>EMAIL</th>
                            <th>GIỚI TÍNH</th>
                            <th>KHOA</th>
                            <th>NGÀY TRỰC</th>
                            <th>BHYT </th>
                            <th>ẢNH</th>
                            <th>NGÀY SINH</th>
                            <th>KINH NGHIỆM</th>
                            <th>TÊN KHOA</th>
                            <th>Sửa </th>
                            <th>Xóa </th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
</div>

