@model VanLangDoctor.Models.DON_THUOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper" style="display: block">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <h1 class="u-custom-font u-font-oswald u-text u-text-default u-title u-text-1">Chi tiết đơn thuốc</h1>
            <br />
            <div class="form-row">
                <label for="name">Họ tên</label>
                <input type="text" value="@Model.SO_KHAM_BENH.BENH_NHAN.TEN_BN" class="form-control" id="name" placeholder="name" readonly />
            </div>
            <br />
            <div class="form-row" id="showInf">
                <div class="form-group col-md-3">
                    <label for="age">Tuổi</label>
                    <input type="text" value="@(DateTime.Now.Year - Model.SO_KHAM_BENH.BENH_NHAN.NGAY_SINH.Value.Year)" class="form-control" id="age" placeholder="Age" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label for="gender">Giới tính</label>
                    <input type="text" value="@Model.SO_KHAM_BENH.BENH_NHAN.GIOI_TINH" class="form-control" id="gender" placeholder="Gender" readonly>
                </div>
                <div class="form-group col-md-5">
                    <label for="address">Địa chỉ</label>
                    <input type="text" value="@Model.SO_KHAM_BENH.BENH_NHAN.DIA_CHI" class="form-control" id="address" placeholder="Address" readonly>
                </div>
            </div>
            <div class="form-row">
                <label for="datetime">Ngày tạo</label>
                <input type="text" value="@Html.DisplayFor(model => model.NGAY_LAP)" id="ngaytao" class="form-control" readonly />
            </div>
            <br />
            <div class="form-group">
                <label for="diagnose">Chẩn đoán</label>
                <input type="text" value="@Html.DisplayFor(model => model.CHUAN_DOAN)" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label for="result">Kết quả</label>
                <input type="text" value="@Html.DisplayFor(model => model.KET_QUA)" class="form-control" readonly />
            </div>
            <div class="form-row">
                <label for="name">Bác sĩ</label>
                <input type="text" value="@Html.DisplayFor(model => model.BACSI.TEN_BACSI)" class="form-control" readonly />
            </div>
            <br />
            <div class="form-row">
                <label for="medicine">Thuốc điều trị</label>
                <table id="Medicine" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tên thuốc</th>
                            <th scope="col">ĐVT</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col">Liều dùng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.CHI_TIET_DON_THUOC.Count; i++)
                        {
                            <tr>
                                <td>@(i + 1)</td>
                                <td>@Model.CHI_TIET_DON_THUOC.ElementAt(i).THUOC.TEN_THUOC</td>
                                <td>@Model.CHI_TIET_DON_THUOC.ElementAt(i).DVT</td>
                                <td>@Model.CHI_TIET_DON_THUOC.ElementAt(i).SO_LUONG</td>
                                <td>@Model.CHI_TIET_DON_THUOC.ElementAt(i).LIEU_DUNG</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn btn-primary" href="@Url.Action("DS_DonThuoc", "QL_DonThuoc")">Quay lại</a>
            </div>
            <br />
        </div>
    </div>
</div>