@model VanLangDoctor.Models.DON_THUOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DON_THUOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KET_QUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KET_QUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHUAN_DOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUAN_DOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHI_DINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHI_DINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOI_DAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOI_DAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAY_LAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_LAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BACSI.TEN_BACSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BACSI.TEN_BACSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SO_KHAM_BENH.ID_SOKHAMBENH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_KHAM_BENH.ID_SOKHAMBENH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_DON_THUOC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
