@using VanLangDoctor.Models
@model IEnumerable<VanLangDoctor.Models.DON_THUOC>

@{
    ViewBag.Title = "Danh sách đơn thuốc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- This page plugin CSS -->
<link href="~/Content/dist-ad/css/style.min.css" rel="stylesheet">
<!-- Custom CSS -->
<div class="page-wrapper" style="display: block">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-plus" href="@Url.Action("Index", "QL_Thuoc")">
                        <span>Trở về</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        @if (TempData["Success"] != null)
                        {
                            <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert" id="successMessage">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true" style=" float: right; margin-top: -10px">×</span>
                                </button>
                                <strong>@TempData["Success"]</strong>
                            </div>
                        }
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div style="text-align:center">
                                            <h3 class="card-title">Đơn thuốc</h3>
                                        </div>
                                        <div class="container">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr class="border-color-red">
                                                            <th scope="col">Chuẩn đoán</th>
                                                            <th scope="col">Chỉ định</th>
                                                            <th scope="col">Lời dặn</th>
                                                            <th scope="col">Ngày lập</th>
                                                            <th scope="col">Thuốc</th>
                                                        </tr>
                                                    </thead>

                                                    @foreach (var item in Model)
                                                    {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CHUAN_DOAN)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.CHI_DINH)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.LOI_DAN)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.NGAY_LAP)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.THUOC.TEN_THUOC)
                                                        </td>
                                                    
                                                    </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
