@model IEnumerable<VanLangDoctor.Models.DON_THUOC>

@{
    ViewBag.Title = "Đơn thuốc đang kê";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- This page plugin CSS -->
<link href="~/Content/dist-ad/css/style.min.css" rel="stylesheet">
<!-- Custom CSS -->
<div class="page-wrapper" style="display: block">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-plus" href="@Url.Action("Index", "QL_Thuoc")">
                        <span>Trở về</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert" id="successMessage">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" style=" float: right; margin-top: -10px">×</span>
                                    </button>
                                    <strong>@TempData["Success"]</strong>
                                </div>
                            }
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div style="text-align:center">
                                                <h3 class="card-title">Thuốc</h3>
                                            </div>
                                            <div class="container">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr class="border-color-red">
                                                                <th scope="col">Hình ảnh</th>
                                                                <th scope="col">Tên thuốc</th>
                                                                <th scope="col">Liều lượng</th>
                                                                <th scope="col">Mô tả</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model)
                                                            {
                                                                <tr>
                                                                    <td class="border-top-0">
                                                                        <img src="@Url.Action("Picture", "QL_Thuoc", new { item.THUOC.ID_THUOC })" alt=" @item.THUOC.ID_THUOC" class="" width="45" height="45">
                                                                    </td>
                                                                    <td class="border-top-0 text-center font-weight-medium text-muted">
                                                                        <a href="@Url.Action("Details","QL_Thuoc", new {id = item.THUOC.ID_THUOC})">
                                                                            @item.THUOC.TEN_THUOC
                                                                        </a>
                                                                    </td>
                                                                    <td class="border-top-0">@item.THUOC.LIEU_LUONG</td>
                                                                    <td class="border-top-0 text-muted font-14">
                                                                        @if (item.THUOC.MO_TA != null && item.THUOC.MO_TA.Length > 75)
                                                                        {
                                                                            @item.THUOC.MO_TA.Substring(0, 75)<span>...</span>
                                                                        }
                                                                        else
                                                                        {
                                                                            @item.THUOC.MO_TA
                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a class="button" href="@Url.Action("ThemDonThuoc")">Xác nhận</a>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a class="button" style="background-color: rgb(157 154 154 / 44%); color: black" href="@Url.Action("Delete","QL_DonThuoc")">Xoá đơn thuốc</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
