
@{
    ViewBag.Title = "Kê đơn thuốc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.tiny.cloud/1/afb3a7e94806eec5503b7c97aa0afe18650c2a0dfbc78ad75313fff642b86dc6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>


<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper" style="display: block">
        <div class="page-breadcrumb">
            <h1 class="u-custom-font u-font-oswald u-text u-text-default u-title u-text-1">Tạo đơn thuốc</h1>
            <br />
            @if (TempData["warn"] != null)
            {
                <div class="alert alert-warning alert-dismissible bg-warning text-white border-0 fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style=" float: right; margin-top: -10px">×</span>
                    </button>
                    <strong>@TempData["warn"]</strong>
                </div>
            }
            <form method="post" action="#">
                @Html.AntiForgeryToken()
                <div class="form-row">
                    <label for="name">Họ tên bệnh nhân</label>
                    <select id="FullName" class="form-control" required>
                        <option value="" selected>Choose...</option>
                        @foreach (var i in ViewBag.Patient)
                        {
                            <option value="@i.ID_BENH_NHAN">@i.TEN_BN</option>
                        }
                    </select>
                </div>
                <br />
                <div class="form-row" id="showInf">
                    <div class="form-group col-md-3">
                        <label for="age">Tuổi</label>
                        <input type="text" class="form-control" id="age" placeholder="Age" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="gender">Giới tính</label>
                        <input type="text" class="form-control" id="gender" placeholder="Gender" readonly>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="address">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" placeholder="Address" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <label for="datetime">Ngày tạo</label>
                    <input type="datetime" id="ngaytao" class="form-control" value="@DateTime.Now" readonly />
                </div>
                <br />
                <div class="form-group">
                    <label for="diagnose">Chẩn đoán</label>
                    <textarea id="chandoan" class="myTextEditor"></textarea>
                </div>
                <div class="form-group">
                    <label for="attribution">Chỉ định</label>
                    <textarea id="chidinh" class="myTextEditor"></textarea>
                </div>
                <div class="form-group">
                    <label for="advice">Lời dặn</label>
                    <textarea id="loidan" class="myTextEditor"></textarea>
                </div>
                <div class="form-group">
                    <label for="result">Kết quả</label>
                    <textarea id="ketqua" class="myTextEditor"></textarea>
                </div>
                <div class="form-row">
                    <label for="name">Bác sĩ</label>
                    <select id="bacsi" class="form-control" required>
                        <option value="" selected>Choose...</option>
                        @foreach (var a in ViewBag.Doctor)
                        {
                            <option value="@a.ID_BACSI">@a.TEN_BACSI</option>
                        }
                    </select>
                </div>
                <br />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="listmedicine">Thuốc</label>
                        <select id="listMedicine" class="form-control">
                            <option selected id="choose">Choose...</option>
                            @foreach (var i in ViewBag.Medicine)
                            {
                                <option value="@i.ID_THUOC">@i.TEN_THUOC</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="add">Thêm</label>
                        <button id="addMedicine" class="btn btn-primary" style=" margin:0px">Thêm</button>
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <label for="medicine">Thuốc điều trị</label>
                    <table id="Medicine" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên thuốc</th>
                                <th scope="col">ĐVT</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Liều dùng</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <br />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <button type="submit" class="btn btn-primary">Lưu</button>
            </form>
        </div>
    </div>
</div>
<br />

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.myTextEditor',
            plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
            toolbar_mode: 'floating',
            height: 200
        });

        $(document).ready(() => {
            $('#addMedicine').click(function (e) {
                e.preventDefault();
                var thuoc = $('#listMedicine option:selected').html();
                if (thuoc == 'Choose...')
                    return;
                var idThuoc = $('#listMedicine').val();
                var rowIndex = $('#Medicine tbody tr').length;
                $(`#listMedicine option[value="${idThuoc}"]`).attr('disabled', 'true');
                $('#Medicine tbody').append(`<tr>
                                                 <td style="display: none">${idThuoc}</td>
                                                 <th scope="row">${rowIndex + 1}</th>
                                                 <td>${thuoc}</td>
                                                 <td>
                                                     <select class="form-control">
                                                        <option selected id="choose">Viên</option>
                                                        <option selected id="choose">Gói</option>
                                                        <option selected id="choose">Hộp</option>
                                                        <option selected id="choose">Chai</option>
                                                        <option selected id="choose">Tuýp</option>
                                                     </select>
                                                 </td>
                                                 <td><input type="number" value="1" class="form-control" /></td>
                                                 <td><input type="text" id="lieudung" class="form-control" /></td>
                                              </tr>`);
                $('#listMedicine').val('Choose...');
            });
        });

        /*remove this "/CP24Team02/Admin/" if run in localhost*/
        $('#FullName').change(function () {
            let id = $(this).val();
            $.get('/QL_DonThuoc/GetPatient/' + id, function (data) {
                $('#age').val(data.Tuoi);
                $('#gender').val(data.GioiTinh);
                $('#address').val(data.DiaChi);
            });
        });

        $('form').submit(function (e) {
            e.preventDefault();
            var hoten = $('#FullName').val();
            var tuoi = $('#age').val();
            var gioitinh = $('#gender').val();
            var diachi = $('#address').val();
            var ngaytao = $('#ngaytao').val();
            var chandoan = tinymce.get(0).getContent({ format: 'text' });
            var chidinh = tinymce.get(1).getContent({ format: 'text' });
            var loidan = tinymce.get(2).getContent({ format: 'text' });
            var ketqua = tinymce.get(3).getContent({ format: 'text' });
            var bacsi = $('#bacsi').val();

            $('body').append(`<form action="@Url.Action("ThemDonThuoc","QL_DonThuoc")" method="POST" id="form" style="display: none">
                                        <input name="HoTen" value="${hoten}"/>
                                        <input name="Tuoi" value="${tuoi}" />
                                        <input name="GioiTinh" value="${gioitinh}" />
                                        <input name="DiaChi" value="${diachi}" />
                                        <input name="NgayKhoiTao" value="${ngaytao}" />
                                        <input name="ChanDoan" value="${chandoan}" />
                                        <input name="ChiDinh" value="${chidinh}" />
                                        <input name="LoiDan" value="${loidan}" />
                                        <input name="KetQua" value="${ketqua}" />
                                        <input name="BacSi" value="${bacsi}" />
                                    </form>`);
            $('#Medicine tbody').children().each((i, element) => {
                var idThuoc = $(element).children('td:first-child').html();
                var soLuong = $(element).find('input').val();
                var dvt = $(element).find('select').val();
                var lieudung = $(element).find('#lieudung').val();
                $('#form').append(`<input name="Thuocs[${i}].Id" value="${idThuoc}" />
                                   <input name="Thuocs[${i}].DVT" value="${dvt}" />
                                   <input name="Thuocs[${i}].Quantity" value="${soLuong}" />
                                   <input name="Thuocs[${i}].LieuDung" value="${lieudung}" />`);
            });

            $('#form').submit();
        });
    </script>

}