@using VanLangDoctor.Models
@model VanLangDoctor.Models.DON_THUOC

@{
    ViewBag.Title = "Xác nhận đơn thuốc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var Cart = ViewBag.Cart as List<DON_THUOC>
    ;
    }
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
    </head>

    <body>
        <div class="page-wrapper" style="display: block;">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                                    <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly/bac-si/danh-sach" class="text-muted">Bác sĩ</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-5 align-self-center">
                        <div class="customize-input float-right">
                            <a class="button-back" href="@Url.Action(" Index")">
                                <span-back>Trở về</span-back>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="row">
                    <div class="form-horizontal col-lg-6">
                        <h2>Thông tin đơn thuốc</h2>

                        <div class="form-group">
                            <label><b>Bác sĩ kê đơn:</b></label>
                            <div class="col-md-10">
                                @Html.DropDownList("ID_BACSI", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_BACSI, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label><b>Chuẩn đoán:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CHUAN_DOAN, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.CHUAN_DOAN, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label><b>Chỉ định:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CHI_DINH, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.CHI_DINH, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label><b>Lời dặn của bác sĩ:</b></label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.LOI_DAN, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                @Html.ValidationMessageFor(model => model.LOI_DAN, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label><b>Sổ khám bệnh:</b></label>
                            <div class="col-md-10">
                                @Html.DropDownList("ID_SO_KHAM_BENH", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_SO_KHAM_BENH, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Xác nhận" class="button" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Thuốc</h2>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <ul class="list">
                                @foreach (var item in Cart)
                                {
                                <li>
                                    <a href="@Url.Action(" Details", "QL_Thuoc" , new {id=item.THUOC.ID_THUOC })">
                                        @item.THUOC.TEN_THUOC
                                        <span class="middle">x @item.THUOC.LIEU_LUONG</span>
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </body>
</html>
