@model VanLangDoctor.Models.THUOC

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Xin chào</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Thuốc", "QL_Thuoc")">Thông tin thuốc</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <form action="@Url.Action("Delete", "QL_Thuoc")" method="post">
                <div class="container">
                    <h1>Thuốc</h1>
                    <p>Thông tin chi tiết của thuốc</p>
                    <hr>
                    <label for="ten_thuoc"><b>Tên thuốc</b></label>
                    <input type="text" value="@Html.DisplayFor(model => model.TEN_THUOC)" name="ten_thuoc" readonly required>

                    <label for="lieu_luong"><b>Liều lượng</b></label>
                    <input type="text" value="@Html.DisplayFor(model => model.LIEU_LUONG)" name="lieu_luong" readonly required>

                    <label for="mo_ta"><b>Mô tả</b></label>
                    <input type="text" value="@Html.DisplayFor(model => model.MO_TA)" name="mo_ta" readonly required>

                    <label for="nsx"><b>Nhà sản xuất</b></label>
                    <input type="text" value="@Html.DisplayFor(model => model.NHA_SAN_XUAT.TEN_NSX)" name="nsx" readonly required>

                    <label for="hinh_anh"><b>Hình ảnh</b></label>
                    <input type="image" value="@Html.DisplayFor(model => model.HINH_ANH)" name="hinh_anh" readonly required>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input id="delete" type="submit" value="Xoá" class="btn" /> <br />
                            @Html.ActionLink("Quay lại", "Thuoc")
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>