@model VanLangDoctor.Models.THUOC

@{
    ViewBag.Title = "Thông tin thuốc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="page-wrapper" style="display: block;">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text-muted">Danh sách thuốc</a></li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-back" href="@Url.Action("Index","QL_Thuoc")">
                            <span-back>Trở về</span-back>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-7">
                    <form action="@Url.Action("Create", "QL_DonThuoc")" method="post">
                        <input type="hidden" name="ID_Thuoc" value="@Model.ID_THUOC"/>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-3">Thông tin chi tiết</h4>
                                <ul class="nav nav-tabs mb-3">
                                    <li class="nav-item active">
                                        <a href="#chitiet" data-toggle="tab" aria-expanded="true" class="nav-link active">
                                            <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block">Chi tiết</span>
                                        </a>
                                    </li>
                                    <li class="nav-item ">
                                        <a href="#mota" data-toggle="tab" aria-expanded="true" class="nav-link ">
                                            <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block">Mô tả</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="chitiet">
                                        <p>
                                            <strong>Tên thuốc: </strong> @Model.TEN_THUOC
                                        </p>
                                        <p>
                                            <strong>Liều lượng: </strong> @Model.LIEU_LUONG
                                        </p>
                                        <p>
                                            <strong>Nhà sản xuất: </strong> @Html.DisplayFor(model => model.NHA_SAN_XUAT.TEN_NSX)
                                        </p>
                                        <p>
                                            <strong>Danh mục thuốc: </strong>@Html.DisplayFor(model => model.DANH_MUC_THUOC.DanhMuc)
                                        </p>
                                    </div>
                                    <div class="tab-pane show" id="mota">
                                        <p>
                                            <strong>@Model.MO_TA</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <button type="submit" class="button" style="vertical-align:middle"><span>Thêm vào đơn thuốc</span></button>
                        </div>
                    </form>
                    
                </div>
                <div class="col-xl-3">
                    <div class="card">
                        <div class="card-body" style="text-align:center">
                            <h4 class="card-title">Hình ảnh</h4>
                            <link href="~/Content/uploadavt.css" rel="stylesheet" />
                            <main>
                                <div id="preview">
                                    <div id="view-img"><img src="@Url.Action("Picture", new {Model.ID_THUOC})" style="height: 200px; width: 200px; object-fit:contain; border: 3px solid #0af; background-color:#000000" /></div>
                                </div>
                            </main>
                            <script src="~/Scripts/uploadavt.js"></script>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
