@model IEnumerable<VanLangDoctor.Models.THUOC>

@{
    ViewBag.Title = "Thuốc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- This page plugin CSS -->
<link href="~/Content/dist-ad/css/style.min.css" rel="stylesheet">
<!-- Custom CSS -->
<div class="page-wrapper" style="display: block">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-plus" href="@Url.Action("Create", "QL_Thuoc")">
                        <span>Thêm thuốc</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert" id="successMessage">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" style=" float: right; margin-top: -10px">×</span>
                                    </button>
                                    <strong>@TempData["Success"]</strong>
                                </div>
                            }
                            <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                <thead>
                                    <tr>
                                        <th>Tên thuốc</th>
                                        <th>Liều lượng</th>
                                        <th>Mô tả</th>
                                        <th>Hình ảnh</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("Edit", new { id = item.ID_THUOC})" title="@item.TEN_THUOC">
                                                    @if (item.TEN_THUOC != null && item.TEN_THUOC.Length > 35)
                                                    {
                                                        @item.TEN_THUOC.Substring(0, 35)<span>...</span>
                                                    }
                                                    else
                                                    {
                                                        @item.TEN_THUOC
                                                    }
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LIEU_LUONG)
                                            </td>
                                            <td>
                                                @if (item.MO_TA != null && item.MO_TA.Length > 25)
                                                {
                                                    <span title="@item.MO_TA">@item.MO_TA.Substring(0, 25)</span><span>...</span>
                                                }
                                                else
                                                {
                                                    <span title="@item.MO_TA">@item.MO_TA</span>
                                                }
                                            </td>
                                            <td style="text-align:center">
                                                <a href="@Url.Action("Edit", new { id = item.ID_THUOC})">
                                                    <img src="@Url.Action("Picture", new {item.ID_THUOC})" title="@item.TEN_THUOC" width="55" height="55" />
                                                </a>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", new { id = item.ID_THUOC})"><i class="ti-pencil"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

