@model VanLangDoctor.Models.DANG_KY

@{
    ViewBag.Title = "Cập nhật trạng thái đơn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="page-wrapper" style="display: block;">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "QL_DangKyTVV")" class="text-muted">Hồ sơ đăng ký</a></li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-back" href="@Url.Action("Index", "QL_DangKyTVV")">
                            <span-back>Trở về</span-back>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container container-ver2" >
            <div class="card-footer" style="background-color: white; border-radius: 2%">
                <h2 style="text-align:center">Hồ sơ đăng ký trở thành tư vấn viên</h2>
                <br />
                <form action="@Url.Action("Edit", "QL_DangKyTVV", new { id = Model.ID})" method="post" , enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ID)
                    <div class="row">
                        <div class="col-sm-offset-1 col-8">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-4">
                                    <h4>Họ và tên</h4>
                                    <input type="text" value="@Model.HO_TEN" placeholder="Tên của bạn*" id="HO_TEN" name="HO_TEN" class="form-control" readonly>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Số điện thoại</h4>
                                    <input type="text" value="@Model.SDT" placeholder="Số điện thoại" id="SDT" name="SDT" class="form-control" readonly>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Ngày sinh</h4>
                                    <input type="text" value="@Model.NGAY_SINH.ToShortDateString()" placeholder="Ngày sinh" id="NGAY_SINH" name="NGAY_SINH" class="form-control" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4>Email</h4>
                                    <input type="text" value="@Model.EMAIL" placeholder="Email" id="EMAIL" name="EMAIL" class="form-control" readonly>
                                </div>
                                <div class="col-sm-4">
                                    <h4>Giới tính</h4>
                                    <input type="text" value="@Model.GIOI_TINH" name="GIOI_TINH" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h4>Trình độ học vấn</h4>
                                    <input type="text" value="@Model.HOC_VAN" placeholder="Trình độ học vấn" id="HOC_VAN" name="HOC_VAN" class="form-control" readonly><br />
                                </div>
                                <div class="col-6">
                                    <h4>Nghề nghiệp</h4>
                                    <input type="text" value="@Model.NGHE_NGHIEP" placeholder="Công việc hiện tại" id="NGHE_NGHIEP" name="NGHE_NGHIEP" class="form-control" readonly><br />
                                </div>
                            </div>
                            <h4>Mục tiêu nghề nghiệp / Slogan</h4>
                            @Html.TextAreaFor(model => model.MUC_TIEU, htmlAttributes: new { @class = "form-control", @readonly = true })<br />
                            <div class="form-group">
                                <h4>Ứng tuyển vào khoa:</h4>
                                <div class="col-sm-offset-1 col-md-12">
                                    <input type="text" value="@Model.KHOA.TEN_KHOA" placeholder="Công việc hiện tại" id="NGHE_NGHIEP" name="NGHE_NGHIEP" class="form-control" readonly><br />
                                    @*@Html.DropDownList("ID_KHOA", null, htmlAttributes: new { @class = "form-control", @readonly = true })*@
                                    @Html.ValidationMessageFor(model => model.ID_KHOA, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label> Trạng thái:</label>
                                <div class="col-sm-12">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.TRANG_THAI)<span> Đã duyệt</span>
                                        @Html.ValidationMessageFor(model => model.TRANG_THAI, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            @*images*@
                            <label>Ảnh đại diện</label>
                            <br />
                            <img id="Picture" style="height: 250px; width: 250px; object-fit: contain; border: 3px solid #0af; background-color: #b0b0b0"
                                 src="@Url.Action("Picture", new {Model.ID})" />
                            <label>Bằng cấp - Chứng chỉ</label>
                            <img id="Picture_CTC" style="height: 250px; width: 250px; object-fit: contain; border: 3px solid #0af; background-color: #b0b0b0"
                                 src="@Url.Action("Certificate", new {Model.ID})" />
                            @* images *@
                        </div>
                    </div>

                    <br />
                    <div class="box align-left">
                        <div class="col-sm-3">
                            <button type="submit" class="button" style="vertical-align:middle"><span>Cập nhật </span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            function readPicture(input) {
                if (input.files && input.files[0])
                    var reader = new FileReader();
                reader.onload = function (e) {
                    $('img#Picture').attr('src', e.target.result)
                };
                reader.readAsDataURL(input.files[0])
            }
            function readPicture_CTC(input) {
                if (input.files && input.files[0])
                    var reader = new FileReader();
                reader.onload = function (a) {
                    $('img#Picture_CTC').attr('src', a.target.result)
                };
                reader.readAsDataURL(input.files[0])
            }
        </script>
    </div>
</body>
</html>
