@model VanLangDoctor.Models.DANG_KY

@{
    ViewBag.Title = "Cập nhật trạng thái đơn";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="container container-ver2">
    <div class="page-contact">
        <div class="content-text center">
            <h3>Đăng ký thông tin</h3>
            <p>Hồ sơ đăng ký trở thành tư vấn viên</p>
            <form action="@Url.Action("Edit", "QL_DangKyTVV", new { id = Model.ID})" method="post" , enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                <div class="row">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="text" value="@Model.HO_TEN" placeholder="Tên của bạn*" id="HO_TEN" name="HO_TEN" class="form-control" readonly>
                        <br />
                        <div class="row">
                            <div class="col-sm-5">
                                <input type="text" value="@Model.SDT" placeholder="Số điện thoại" id="SDT" name="SDT" class="form-control" readonly>
                            </div>
                            <div class="col-sm-offset-1 col-sm-5">
                                <input type="text" value="@Model.NGAY_SINH.ToShortDateString()" placeholder="Ngày sinh" id="NGAY_SINH" name="NGAY_SINH" class="form-control" readonly>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-8">
                                <input type="text" value="@Model.EMAIL" placeholder="Email" id="EMAIL" name="EMAIL" class="form-control" readonly>
                            </div>
                            <div class="col-sm-offset-1 col-sm-2">
                                <input type="text" value="@Model.GIOI_TINH" name="GIOI_TINH" class="form-control" readonly />
                            </div>
                        </div>
                        <br />
                        <input type="text" value="@Model.HOC_VAN" placeholder="Trình độ học vấn" id="HOC_VAN" name="HOC_VAN" class="form-control" readonly><br />
                        <input type="text" value="@Model.NGHE_NGHIEP" placeholder="Công việc hiện tại" id="NGHE_NGHIEP" name="NGHE_NGHIEP" class="form-control" readonly><br />
                        @Html.TextAreaFor(model=>model.MUC_TIEU, htmlAttributes: new { @class="form-control", @readonly = true})<br />
                        <div class="form-group">
                            <h4>Ứng tuyển vào khoa:</h4>
                            <div class="col-sm-offset-1 col-md-10">
                                @Html.DropDownList("ID_KHOA", null, htmlAttributes: new { @class = "form-control", @readonly = true })
                                @Html.ValidationMessageFor(model => model.ID_KHOA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <label>Ảnh đại diện</label>
                                <img id="Picture" style="height: 250px; width: 250px; object-fit: contain; border: 3px solid #0af; background-color: #b0b0b0"
                                     src="@Url.Action("Picture", new {Model.ID})" />
                            </div>
                            <div class="col-sm-offset-1 col-sm-5">
                                <label>Bằng cấp - Chứng chỉ</label>
                                <img id="Picture_CTC" style="height: 250px; width: 250px; object-fit: contain; border: 3px solid #0af; background-color: #b0b0b0"
                                     src="@Url.Action("Certificate", new {Model.ID})" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label> Trạng thái:</label>
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.TRANG_THAI)
                                    @Html.ValidationMessageFor(model => model.TRANG_THAI, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="box align-left">
                            <div class="col-sm-3">
                                <input type="submit" value="Cập nhật" class="link-v1 rt" />
                            </div>
                            <div class="col-sm-4">
                                <a href="@Url.Action("Index")" class="link-v1 ">Trở về</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function readPicture(input) {
        if (input.files && input.files[0])
            var reader = new FileReader();
        reader.onload = function (e) {
            $('img#Picture').attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0])
    }
    function readPicture_CTC(input) {
        if (input.files && input.files[0])
            var reader = new FileReader();
        reader.onload = function (a) {
            $('img#Picture_CTC').attr('src', a.target.result)
        };
        reader.readAsDataURL(input.files[0])
    }
</script>
