@model IEnumerable<VanLangDoctor.Models.BENH_AN>

@{
    ViewBag.Title = "Bệnh án";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets-ad/images/favicon.png">
    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
    <!-- This page plugin CSS -->
    <link href="~/Content/assets-ad/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/dist-ad/css/style.min.css" rel="stylesheet">
    <link href="~/Content/formcrud.css" rel="stylesheet" />

</head>

<body>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="index.html" class="text-muted">Trang chủ</a></li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-plus" href="@Url.Action("Create", "BENH_AN")">
                            <span>Thêm bệnh nhân</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                    <thead>
                                        <tr>
                                            <th>Mã bệnh án</th>
                                            <th>Chuyên khoa</th>
                                            <th>Chuẩn đoán</th>
                                            <th>Kết quả</th>
                                            <th>Tiền sử bệnh</th>
                                            <th>Tên bệnh nhân</th>
                                            <th>Ghi chú</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td><a href="@Url.Action("Edit","BENH_AN", new { id = item.ID_BENHAN })">@item.ID_BENHAN</a></td>
                                                <td>@item.KHOA.TEN_KHOA</td>
                                                <td>@item.CHUAN_DOAN</td>
                                                <td>@item.KET_QUA</td>
                                                <td>@item.TIEN_SU_BENH</td>
                                                <td>@item.BENH_NHAN1.TEN_BN</td>
                                                <td>@item.GHI_CHU</td>
                                                <td>
                                                    <a href="@Url.Action("Edit","BENH_AN", new { id = item.ID_BENHAN })"><i class="ti-settings"></i></a>
                                                    <a href="@Url.Action("Delete","BENH_AN", new { id = item.ID_BENHAN })"><i class="ti-trash"></i></a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Mã bệnh án</th>
                                            <th>Chuyên khoa</th>
                                            <th>Chuẩn đoán</th>
                                            <th>Kết quả</th>
                                            <th>Tiền sử bệnh</th>
                                            <th>Tên bệnh nhân</th>
                                            <th>Ghi chú</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Content/assets-ad/libs/jquery/dist/jquery.min.js"></script>
<script src="~/Content/assets-ad/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Content/dist-ad/js/app-style-switcher.js"></script>
<script src="~/Content/dist-ad/js/feather.min.js"></script>
<script src="~/Content/assets-ad/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/Content/assets-ad/extra-libs/sparkline/sparkline.js"></script>
<script src="~/Content/dist-ad/js/custom.min.js"></script>
<script src="~/Content/assets-ad/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/Content/dist-ad/js/pages/datatable/datatable-basic.init.js"></script>

