@model VanLangDoctor.Models.BENH_NHAN

@{
    ViewBag.Title = "Chi tiết bệnh nhân";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets-ad/images/favicon.png">
    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
    <!-- This page plugin CSS -->
    <link href="~/Content/assets-ad/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/dist-ad/css/style.min.css" rel="stylesheet">
    <link href="~/Content/formcrud.css" rel="stylesheet" />

</head>

<body>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="index.html" class="text-muted">Trang chủ</a></li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-back" href="@Url.Action("Index","QL_BenhNhan")">
                            <span-back>Trở về</span-back>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">@ViewBag.Title</h3>
                            <div class="container">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label><b>Tên bệnh nhân:</b></label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.TEN_BN, new { htmlAttributes = new { @readonly = true } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label><b>Giới tính:</b></label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.GIOI_TINH, new { htmlAttributes = new { @readonly = true } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label><b>Ngày sinh:</b></label>
                                        <div class="col-md-10">
                                            <div class="card-header" style=" height: 3em; border-radius: 8pt; box-shadow: 6px 5px 17px -7px;">@Html.FormatValue(Model.NGAY_SINH,"{0:d}")</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label><b>Số điện thoại:</b></label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @readonly = true } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label><b>Địa chỉ hiện tại:</b></label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.DIA_CHI, new { htmlAttributes = new { @readonly = true } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label><b>Email:</b></label>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AspNetUser.Email, new { htmlAttributes = new { @readonly = true } })
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>