@model IEnumerable<VanLangDoctor.Models.DAT_LICH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="page-wrapper" style="display: block;">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NGAY_TRUC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BACSI.TEN_BACSI)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAY_TRUC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BACSI.TEN_BACSI)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>