@model IEnumerable<VanLangDoctor.Models.BACSI>

@{
    ViewBag.Title = "Danh sách bác sĩ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/formcrud.css" rel="stylesheet" />
<div class="page-wrapper" style="display: block">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="index.html" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-plus" href="~/trang-chu-quan-ly/bac-si/them-moi" >
                        <span>Thêm bác sĩ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                <thead>
                                    <tr>
                                        <th>Tên bác sĩ</th>
                                        <th>Số điện thoại</th>
                                        <th>Ngày sinh</th>
                                        <th>Email</th>
                                        <th>Giới tính</th>
                                        <th>Nghề nghiệp</th>
                                        <th>Kinh nghiệm</th>
                                        <th>Ngày trực</th>
                                        <th>Hình đại diện</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td><a href="javascript:void(0)" class="font-weight-medium link">@item.TEN_BACSI</a></td>
                                        <td>@item.SDT</td>
                                        <td class="font-bold link">@Html.FormatValue(@item.NGAYSINH_BS, "{0:d}")</td>
                                        <td>@item.EMAIL</td>
                                        <td>@item.GIOI_TINH</td>
                                        <td>@item.NGHE_NGHIEP</td>
                                        <td>@item.KINH_NGHIEM Năm</td>
                                        <td>@Html.FormatValue(@item.NGAY_TRUC, "{0:d}")</td>
                                        <td style="text-align:center"><img src="@Url.Action("Picture", new {item.ID_BACSI})" width="55" height="55" style="border-radius: 50%"/></td>
                                        <td>
                                            <a href="@Url.Action("Edit","BACSIs", new { id = item.ID_BACSI })"><i class="ti-settings"></i></a>
                                            <a href="@Url.Action("Delete","BACSIs", new { id = item.ID_BACSI })"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên bác sĩ</th>
                                        <th>Số điện thoại</th>
                                        <th>Ngày sinh</th>
                                        <th>Email</th>
                                        <th>Giới tính</th>
                                        <th>Nghề nghiệp</th>
                                        <th>Kinh nghiệm</th>
                                        <th>Ngày trực</th>
                                        <th>Hình đại diện</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                            <ul class="pagination float-right">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center text-muted">
        @Html.FormatValue(DateTime.Now, "{0:M}")
        All Rights Reserved by Adminmart. Designed and Developed by <a href="#">WrapPixel</a>.
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>


