@model VanLangDoctor.Models.DON_THUOC

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thêm mới Đơn thuốc";
}
<br />
<br />
<br />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/formcrud.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multilpe Select</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="page-wrapper" style="display: block;">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">Trang chủ</li>
                                <li class="breadcrumb-item">Đơn thuốc</li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-back" href="~/Admin/BACSIsAdmin/Index">
                            <span-back>Trở về</span-back>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <form action="@Url.Action("Create","BACSIsAdmin")" method="post" enctype="multipart/form-data" id="basic-form">
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label><b>Tên bác sĩ</b></label>
                                <div class="col-md-10">
                                    @Html.DropDownList("ID_BACSI", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ID_BACSI, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label><b>Tên thuốc</b></label>
                                <select class="mul-select" multiple="true">
                                    <option>
                                        @Html.DropDownList("ID_THUOC", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ID_THUOC, "", new { @class = "text-danger" })
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label><b>Chuẩn Đoán</b></label>
                                <div class="col-12">
                                    @Html.EditorFor(model => model.CHUAN_DOAN, new { htmlAttributes = new { @class = "form-control", @placeholder = "VD: cao huyết áp, bệnh van tim nguyên phát, nhồi máu cơ tim-xem Bảng: Chẩn đoán và điều trị bệnh cơ tim)" } })
                                    @Html.ValidationMessageFor(model => model.CHUAN_DOAN, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label><b>Chỉ Định</b></label>
                                <div class="col-10">
                                    @Html.EditorFor(model => model.CHI_DINH, new { htmlAttributes = new { @class = "form-control", @placeholder = "VD:nếu nghi ngờ bị viêm cơ tim tế bào khổng lồ, viêm cơ tim tăng bạch cầu ái toan, hay sarcoidosis, vì kết quả sẽ ảnh hưởng đến việc quản lý." } })
                                    @Html.ValidationMessageFor(model => model.CHI_DINH, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label><b>Lời dẫn</b></label>
                                <div class="col-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.LOI_DAN, new { htmlAttributes = new { @class = "form-control", @placeholder = "VD:Sử dụng thuốc chống đông khi có rung nhĩ hoặc khi có các nguyên nhân khác như huyết khối trong buồng tim.m" } })
                                        @Html.ValidationMessageFor(model => model.LOI_DAN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label><b>Ngày Lập</b></label>
                                <div class="col-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.NGAY_LAP, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.NGAY_LAP, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="col-md-5">
                        <button type="submit" class="button" style="vertical-align:middle"><span>Thêm mới </span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
</html>
<script>
    tinymce.init({
        selector: 'textarea#MotaSP',
        menubar: false
    });
    function readPicture(input) {
        if (input.files && input.files[0])
            var reader = new FileReader();
        reader.onload = function (e) {
            $('img#Picture').attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0])
    }
</script>
<script>
    $(document).ready(function () {
        $(".mul-select").select2({
            placeholder: "Chọn Thuốc", //placeholder
            tags: true,
            tokenSeparators: ['/', ',', ';', " "]
        });
    })
</script>