@model VanLangDoctor.Models.DAT_LICH

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DAT_LICH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAY_TRUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_TRUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BACSI.TEN_BACSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BACSI.TEN_BACSI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
