@model VanLangDoctor.Models.THUOC

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/HomeAdmin/HomeAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THUOC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_THUOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_THUOC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIEU_LUONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIEU_LUONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HANG_SX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HANG_SX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MO_TA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MO_TA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_THUOC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
