@using VanLangDoctor.Models
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/assets-ad/images/logoVLDnobri.png")">
    <title>@ViewBag.Title</title>
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/assets-ad/extra-libs/c3/c3.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/assets-ad/libs/chartist/dist/chartist.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/assets-ad/extra-libs/jvector/jquery-jvectormap-2.0.2.css")" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/dist-ad/css/style.min.css")" rel="stylesheet">
    <link href="~/Content/assets-ad/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">

    <link href="~/Content/formcrud.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/nicEdit.js"></script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="~/trang-chu-quan-ly">
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img src="@Url.Content("~/Content/assets-ad/images/logoVLDnobri.png")" alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->
                                <img src="@Url.Content("~/Content/assets-ad/images/logoVLDnobri.png")" alt="homepage" class="light-logo" />
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <img height="22" width="140" src="@Url.Content("~/Content/assets-ad/images/logoVLDnobrw.png")" alt="homepage" class="dark-logo" />
                                <!-- Light Logo text -->
                                <img src="@Url.Content("~/Content/assets-ad/images/logo-light-text.png")" class="light-logo" alt="homepage" />
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <!-- Notification -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle pl-md-3 position-relative" href="javascript:void(0)"
                               id="bell" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <span><i data-feather="bell" class="svg-icon"></i></span>
                                <span class="badge badge-primary notify-no rounded-circle">5</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left mailbox animated bounceInDown">
                                <ul class="list-style-none">
                                    <li>
                                        <div class="message-center notifications position-relative">
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                               class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <div class="btn btn-danger rounded-circle btn-circle">
                                                    <i data-feather="airplay" class="text-white"></i>
                                                </div>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Luanch Admin</h6>
                                                    <span class="font-12 text-nowrap d-block text-muted">
                                                        Just see
                                                        the my new
                                                        admin!
                                                    </span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                               class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <span class="btn btn-success text-white rounded-circle btn-circle">
                                                    <i data-feather="calendar" class="text-white"></i>
                                                </span>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Event today</h6>
                                                    <span class="font-12 text-nowrap d-block text-muted text-truncate">
                                                        Just
                                                        a reminder that you have event
                                                    </span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                               class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <span class="btn btn-info rounded-circle btn-circle">
                                                    <i data-feather="settings" class="text-white"></i>
                                                </span>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Settings</h6>
                                                    <span class="font-12 text-nowrap d-block text-muted text-truncate">
                                                        You
                                                        can customize this template
                                                        as you want
                                                    </span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)"
                                               class="message-item d-flex align-items-center border-bottom px-3 py-2">
                                                <span class="btn btn-primary rounded-circle btn-circle">
                                                    <i data-feather="box" class="text-white"></i>
                                                </span>
                                                <div class="w-75 d-inline-block v-middle pl-2">
                                                    <h6 class="message-title mb-0 mt-1">Pavan kumar</h6> <span class="font-12 text-nowrap d-block text-muted">
                                                        Just
                                                        see the my admin!
                                                    </span>
                                                    <span class="font-12 text-nowrap d-block text-muted">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link pt-3 text-center text-dark" href="javascript:void(0);">
                                            <strong>Check all notifications</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Notification -->
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="settings" class="svg-icon"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                               type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <!--------------------------------------->
                            @using Microsoft.AspNet.Identity
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <p class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div style="padding: 0.5em">
                                        <a href="@Url.Action("Login","../Account")" style="color: black">
                                            <i data-feather="user" class="svg-icon"></i>
                                            <span style="font-size: 13px">Đăng nhập</span> <span class="text-dark"></span>
                                        </a>
                                    </div>
                                </p>
                            }
                            else
                            {
                                <div style="padding: 0.5em">
                                    @using (Html.BeginForm("LogOff", "../Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken();

                                        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img src="@Url.Content("~/Content/assets-ad/images/users/profile-pic.jpg")" alt="user" class="rounded-circle"
                                                 width="40">
                                            <span class="ml-2 d-none d-lg-inline-block">
                                                <span>Hello,</span> <span class="text-dark">@Html.FormatValue(User.Identity.GetUserName(), "")</span>
                                                <i data-feather="chevron-down" class="svg-icon"></i>
                                            </span>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i data-feather="user"
                                                   class="svg-icon mr-2 ml-1"></i>
                                                My Profile
                                            </a>
                                            <a class="dropdown-item" href="javascript:void(0)">
                                                <i data-feather="mail"
                                                   class="svg-icon mr-2 ml-1"></i>
                                                Inbox
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                                <i data-feather="power"
                                                   class="svg-icon mr-2 ml-1"></i>
                                                Đăng xuất
                                            </a>
                                        </div>
                                    }
                                </div>

                            }
                            <!--------------------------------------->

                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="~/trang-chu-quan-ly"
                               aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Trang chủ</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Quản lý</span></li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Index", "QL_TinTuc")"
                               aria-expanded="false">
                                <i class="icon-book-open"></i><span class="hide-menu">
                                    Tin tức
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="app-chat.html"
                               aria-expanded="false">
                                <i class="icon-bubble"></i><span class="hide-menu">Chatbot</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="app-calendar.html"
                               aria-expanded="false">
                                <i class="icon-bell"></i><span class="hide-menu">Thông báo</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="@Url.Action("TaiKhoan", "QL_TaiKhoan")"
                               aria-expanded="false">
                                <i data-feather="lock" class="feather-icon"></i><span class="hide-menu">Tài khoản</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="@Url.Action("Index","QL_DangKyTVV")"
                               aria-expanded="false">
                                <i data-feather="file-text" class="feather-icon"></i><span class="hide-menu">
                                    Hồ sơ đăng ký
                                </span>
                            </a>
                        </li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Người dùng</span></li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)"
                               aria-expanded="false">
                                <i class="icon-people"></i><span class="hide-menu">Bệnh nhân </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="@Url.Action("DanhSach_BN","QL_BenhNhan")" class="sidebar-link">
                                        <span class="hide-menu">
                                            Danh sách bệnh nhân
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="@Url.Action("HS_BenhAn","HoSo_BenhAn")" class="sidebar-link">
                                        <span class="hide-menu">
                                            Hồ sơ bệnh án
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)"
                               aria-expanded="false">
                                <i class="icon-graduation"></i><span class="hide-menu">Bác sĩ </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="~/trang-chu-quan-ly/bac-si/danh-sach" class="sidebar-link">
                                        <span class="hide-menu">
                                            Danh sách bác sĩ
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="~/trang-chu-quan-ly/bac-si/them-moi" class="sidebar-link">
                                        <span class="hide-menu">
                                            Thêm bác sĩ
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)"
                               aria-expanded="false">
                                <i data-feather="pie-chart" class="feather-icon"></i><span class="hide-menu">Thống kê </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="chart-morris.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Lịch sử tư vấn
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="chart-chart-js.html" class="sidebar-link">
                                        <span class="hide-menu">
                                            Lịch sử kê đơn
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow" href="javascript:void(0)"
                               aria-expanded="false">
                                <i class="icon-chemistry"></i><span class="hide-menu">Thuốc </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                <li class="sidebar-item">
                                    <a href="@Url.Action("Index","QL_Thuoc") " class="sidebar-link">
                                        <span class="hide-menu">
                                            Danh sách thuốc
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="@Url.Action("Index","QL_DonThuoc") " class="sidebar-link">
                                        <span class="hide-menu">
                                            Đơn thuốc đang kê
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="@Url.Action("DS_DonThuoc","QL_DonThuoc") " class="sidebar-link">
                                        <span class="hide-menu">
                                            Đơn thuốc đã kê
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Content/assets-ad/libs/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/feather.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/assets/extra-libs/c3/d3.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/libs/chartist/dist/chartist.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/assets/libs/popper.js/dist/umd/popper.min.js")"></script>

    <script src="~/Content/assets-ad/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/assets-ad/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/dist-ad/js/app-style-switcher.js"></script>
    <script src="~/Content/dist-ad/js/feather.min.js"></script>
    <script src="~/Content/assets-ad/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Content/assets-ad/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/Content/dist-ad/js/custom.min.js"></script>
    <script src="~/Content/assets-ad/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/dist-ad/js/pages/datatable/datatable-basic.init.js"></script>

    <script src="@Url.Content("~/Content/assets-ad/libs/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/app-style-switcher.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/sidebarmenu.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/custom.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/extra-libs/c3/c3.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/extra-libs/jvector/jquery-jvectormap-world-mill-en.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/pages/dashboards/dashboard1.min.js")"></script>

</body>

</html>
