@using VanLangDoctor.Models
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/assets-ad/images/logoVLDnobri.png")">
    <title>@ViewBag.Title</title>
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/assets-ad/extra-libs/c3/c3.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/assets-ad/extra-libs/jvector/jquery-jvectormap-2.0.2.css")" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/dist-ad/css/style.min.css")" rel="stylesheet">
    <link href="~/Content/assets-ad/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">

    <link href="~/Content/formcrud.css" rel="stylesheet" />
    <script src="~/Scripts/nicEdit.js"></script>
</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="~/trang-chu-quan-ly">
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img src="@Url.Content("~/Content/assets-ad/images/logoVLDnobri.png")" alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->
                                <img src="@Url.Content("~/Content/assets-ad/images/logoVLDnobri.png")" alt="homepage" class="light-logo" />
                            </b>
                            <!--End Logo icon -->
                            <!-- Logo text -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <img height="22" width="140" src="@Url.Content("~/Content/assets-ad/images/logoVLDnobrw.png")" alt="homepage" class="dark-logo" />
                                <!-- Light Logo text -->
                                <img src="@Url.Content("~/Content/assets-ad/images/logoVLDnobrw.png")" class="light-logo" alt="homepage" />
                            </span>
                        </a>
                    </div>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <!-- Notification -->
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <!--------------------------------------->
                            @using Microsoft.AspNet.Identity
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <p class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div style="padding: 0.5em">
                                        <a href="@Url.Action("Login","../Account")" style="color: black">
                                            <i data-feather="user" class="svg-icon"></i>
                                            <span style="font-size: 13px">Đăng nhập</span> <span class="text-dark"></span>
                                        </a>
                                    </div>
                                </p>
                            }
                            else
                            {
                                <div style="padding: 0.5em">
                                    @using (Html.BeginForm("LogOff", "../Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                    {
                                        @Html.AntiForgeryToken();

                                        <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false">
                                            <img src="@Url.Content("~/Content/assets-ad/images/users/1.jpg")" alt="user" class="rounded-circle"
                                                 width="40">
                                            <span class="ml-2 d-none d-lg-inline-block">
                                                <span>Hello,</span> <span class="text-dark">@Html.FormatValue(User.Identity.GetUserName(), "")</span>
                                                <i data-feather="chevron-down" class="svg-icon"></i>
                                            </span>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                            @*<a class="dropdown-item" href="javascript:void(0)">
                                                    <i data-feather="user"
                                                       class="svg-icon mr-2 ml-1"></i>
                                                    My Profile
                                                </a>*@
                                            <a class="dropdown-item" target="_blank" href="https://business.facebook.com/latest/inbox/all?nav_ref=pages_classic_isolated_section_inbox_redirect&asset_id=109866731562751&mailbox_id=&selected_item_id=100157039375955">
                                                <i data-feather="mail"
                                                   class="svg-icon mr-2 ml-1"></i>
                                                Inbox
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                                <i data-feather="power"
                                                   class="svg-icon mr-2 ml-1"></i>
                                                Đăng xuất
                                            </a>
                                        </div>
                                    }
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="~/trang-chu-quan-ly"
                               aria-expanded="false">
                                <img src="~/Content/assets-ad/images/Icon/home.png" width="25" /><span class="hide-menu">&nbsp; Trang chủ</span>
                            </a>
                        </li>
                        @if (User.IsInRole("Quản lý"))
                        {
                            <li class="list-divider"></li>
                            @*Quản lý*@
                            <li class="nav-small-cap"><span class="hide-menu">Quản lý</span></li>
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="@Url.Action("Index", "QL_TinTuc")"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/newspaper.png" width="25" /><span class="hide-menu">
                                        &nbsp; Tin tức
                                    </span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link" href="@Url.Action("Index","QL_DangKyTVV")"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/drug.png" width="25" /><span class="hide-menu">&nbsp; Hồ sơ đăng ký</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link" href="
https://business.facebook.com/latest/inbox/all?nav_ref=pages_classic_isolated_section_inbox_redirect&asset_id=109866731562751&mailbox_id=&selected_item_id=100157039375955" target="_blank"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/chatbot.png" width="25" /><span class="hide-menu">&nbsp; Quản lý chat</span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/list.png" width="25" /><span class="hide-menu">&nbsp; Danh sách </span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a class="sidebar-link sidebar-link" href="@Url.Action("Index", "QL_LichTuVan")"
                                           aria-expanded="false">
                                            <span class="hide-menu">&nbsp; Đặt lịch</span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link sidebar-link" href="@Url.Action("DanhSachLichTruc","QL_DatLich", new { area = "Admin" })"
                                           aria-expanded="false">
                                            <span class="hide-menu">&nbsp; Lịch trực của bác sĩ</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/medicine.png" width="25" /><span class="hide-menu">&nbsp; Thuốc </span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("Index","QL_Thuoc") " class="sidebar-link">
                                            <span class="hide-menu">
                                                Danh sách thuốc
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/stethoscope.png" width="25" /><span class="hide-menu"> &nbsp; Bác sĩ </span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="~/trang-chu-quan-ly/bac-si/danh-sach" class="sidebar-link">
                                            <span class="hide-menu">
                                                Danh sách bác sĩ
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="~/trang-chu-quan-ly/bac-si/them-moi" class="sidebar-link">
                                            <span class="hide-menu">
                                                Thêm bác sĩ
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/statistics.png" width="25" /><span class="hide-menu">&nbsp; Thống kê </span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("Index", "QL_TKDonThuoc")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Lịch sử đơn thuốc
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a href="@Url.Action("Index", "QL_TKFeedBack")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Lịch sử tư vấn
                                            </span>
                                        </a>
                                    </li>

                                    @*<li class="sidebar-item">
                        <a href="@Url.Action("BookCalendar","QL_TKBookCalendar")" class="sidebar-link">
                            <span class="hide-menu">
                                Lịch sử đặt lịch
                            </span>
                        </a>
                    </li>*@
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Quản trị viên"))
                        {
                            <li class="list-divider"></li>
                            @*Quản trị viên*@
                            <li class="nav-small-cap"><span class="hide-menu">Quản trị viên</span></li>
                            <li class="sidebar-item">
                                <a class="sidebar-link sidebar-link" href="@Url.Action("TaiKhoan", "QL_TaiKhoan")"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/profile.png" width="25" /><span class="hide-menu">&nbsp; Tài khoản</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Bác sĩ"))
                        {
                            <li class="list-divider"></li>
                            @*Bác sĩ*@
                            <li class="nav-small-cap"><span class="hide-menu">Bác sĩ</span></li>
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)" aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/statistics.png" width="25" /><span class="hide-menu">&nbsp; Thông tin cá nhân</span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("ThongTinBacSi", "QL_BacSi")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Thông tin tài khoản
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a href="@Url.Action("Create", "QL_DatLich")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Đăng kí lịch trực
                                            </span>
                                        </a>
                                    </li>

                                    <li class="sidebar-item">
                                        <a href="@Url.Action("Index", "QL_DatLich")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Lịch trực
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/face-mask.png" width="25" /><span class="hide-menu">&nbsp; Bệnh nhân</span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("DanhSach_BN", "QL_BenhNhan")" class="sidebar-link">
                                            <span class="hide-menu">
                                                Danh sách bệnh nhân
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="javascript:void(0)"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/list.png" width="25" /><span class="hide-menu">&nbsp; Đơn thuốc </span>
                                </a>
                                <ul aria-expanded="false" class="collapse  first-level base-level-line">
                                    <li class="sidebar-item">
                                        <a href="@Url.Action("DS_DonThuoc","QL_DonThuoc") " class="sidebar-link">
                                            <span class="hide-menu">
                                                Danh sách đơn thuốc
                                            </span>
                                        </a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a class="sidebar-link" href="@Url.Action("ThemDonThuoc", "QL_DonThuoc")" aria-expanded="false">
                                            <span class="hide-menu">
                                                Tạo đơn
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="sidebar-item">
                                <a class="sidebar-link" href="@Url.Action("DanhSachDatLich", "QL_LichTuVan")"
                                   aria-expanded="false">
                                    <img src="~/Content/assets-ad/images/Icon/newspaper.png" width="25" />
                                    <span class="hide-menu">
                                        &nbsp; Lịch tư vấn
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>

                    <br />
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        @RenderBody()
    </div>
    <script src="@Url.Content("~/Content/assets-ad/libs/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/feather.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/extra-libs/c3/d3.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/libs/popper.js/dist/umd/popper.min.js")"></script>

    <script src="~/Content/assets-ad/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/assets-ad/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/dist-ad/js/app-style-switcher.js"></script>
    <script src="~/Content/dist-ad/js/feather.min.js"></script>
    <script src="~/Content/assets-ad/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Content/assets-ad/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/Content/dist-ad/js/custom.min.js"></script>
    <script src="~/Content/assets-ad/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/dist-ad/js/pages/datatable/datatable-basic.init.js"></script>

    <script src="@Url.Content("~/Content/assets-ad/libs/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/app-style-switcher.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/sidebarmenu.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/custom.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/extra-libs/c3/c3.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js")"></script>
    <script src="@Url.Content("~/Content/assets-ad/extra-libs/jvector/jquery-jvectormap-world-mill-en.js")"></script>
    <script src="@Url.Content("~/Content/dist-ad/js/pages/dashboards/dashboard1.min.js")"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
