@model VanLangDoctor.Models.NHA_SAN_XUAT

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thêm mới nhà sản xuất";
}
<br />
<br />
<br />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/formcrud.css" rel="stylesheet" />
</head>

<body>
    <div class="page-wrapper" style="display: block;">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">Trang chủ</li>
                                <li class="breadcrumb-item">Nhà sản xuất</li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-back" href="~/Admin/NHA_SAN_XUATsAdmin/Index">
                            <span-back>Trở về</span-back>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <form action="@Url.Action("Create","NHA_SAN_XUATsAdmin")" method="post" enctype="multipart/form-data" id="basic-form">
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-7">


                            <div class="form-group">
                                <label><b>Tên nhà sản xuất</b></label>
                                <div class="col-12">
                                    @Html.EditorFor(model => model.TEN_NSX, new { htmlAttributes = new { @class = "form-control", @placeholder = "VD:Công ty CP Nam Dược" } })
                                    @Html.ValidationMessageFor(model => model.TEN_NSX, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            

                        </div>
                    </div>

                    <br />
                    <div class="col-md-5">
                        <button type="submit" class="button" style="vertical-align:middle"><span>Thêm mới </span></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
</html>
<script>
    tinymce.init({
        selector: 'textarea#MotaSP',
        menubar: false
    });
    function readPicture(input) {
        if (input.files && input.files[0])
            var reader = new FileReader();
        reader.onload = function (e) {
            $('img#Picture').attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0])
    }
</script>
