@model VanLangDoctor.Models.NHA_SAN_XUAT

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Xác nhận xóa";
}
<br />
<br />
<br />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/formcrud.css" rel="stylesheet" />
    <link href="~/Content/up.css" rel="stylesheet" />
</head>
<body>
    <div class="page-wrapper" style="display: block;">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">Trang chủ</li>
                                <li class="breadcrumb-item">Danh sách nhà sản xuất</li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-back" href="~/Admin/NHA_SAN_XUATsAdmin/Index">
                            <span-back>Trở về</span-back>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="card card-body">
                    <h3 class="card-title">Bạn chắc chắn muốn xóa nhà sản xuất @Html.DisplayFor(model => model.TEN_NSX) ?</h3>
                    <p class="text-muted font-14 mb-3">
                        Sau khi xác nhận xóa, bác sĩ @Model.TEN_NSX sẽ không còn trên hệ thống!
                    </p>
                    <div class="alert alert-success">
                        <div class="dl-horizontal">
                            <div class="row">
                                <h4 class="col-md-3">Chuẩn Đoán: </h4>
                                <span class="col-md-4">@Html.DisplayFor(model => model.TEN_NSX)</span>
                            </div>



                        </div>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <button type="submit" class="button" style="position: relative; background-color: lightsalmon "><span>Xóa </span></button>
                    }
                </div>

            </div>
        </div>

    </div>
</body>
</html>
