@model VanLangDoctor.Models.BACSI

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BACSI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TEN_BACSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_BACSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT_BACSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT_BACSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYSINH_BACSI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYSINH_BACSI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TUOI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TUOI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIOI_TINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOI_TINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHUC_VU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUC_VU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KINH_NGHIEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KINH_NGHIEM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAY_TRUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_TRUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BHYT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BHYT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
