@model VanLangDoctor.Models.DAT_LICH_TU_VAN

@{
    ViewBag.Title = "Xác nhận lịch hẹn";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper" style="display: block;">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly/bac-si/danh-sach" class="text-muted">Danh sách bác sĩ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-back" href="~/trang-chu-quan-ly/bac-si/danh-sach">
                        <span-back>Trở về</span-back>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.ID)

                        <div class="row">
                            <div class="col-md-4">
                                <label>Bác sĩ</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("ID_BAC_SI", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ID_BAC_SI, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Bệnh nhân</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("ID_USER", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ID_USER, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Thời gian</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NGAY_KHAM, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NGAY_KHAM, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <label>Địa điểm</label>
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.LINK_GG, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LINK_GG, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label>Trạng thái</label>
                                <select name="TRANG_THAI" style="width: 100%; margin-top: 4px; border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%) " class="form-control">
                                    <option value="0">Chưa duyệt</option>
                                    <option value="1">Đã duyệt</option>
                                    <option value="2">Bận</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <button type="submit" class="button" style="vertical-align:middle"><span>Xác nhận </span></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>