@model IEnumerable<VanLangDoctor.Models.DAT_LICH_TU_VAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="page-wrapper" style="display: block;">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NGAY_KHAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LINK_GG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TRANG_THAI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BACSI.TEN_BACSI)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NGAY_KHAM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LINK_GG)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TRANG_THAI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BACSI.TEN_BACSI)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>