@model VanLangDoctor.Models.BENH_AN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BENH_AN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KET_QUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KET_QUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHUAN_DOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUAN_DOAN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIEN_SU_BENH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEN_SU_BENH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GHI_CHU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GHI_CHU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DON_THUOC.CHUAN_DOAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DON_THUOC.CHUAN_DOAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_BENH_AN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
