
@{
    ViewBag.Title = "HomeUser";
}
<body>
    <section class="py-8">
        <div class="bg-holder" style="background-image:@Url.Content("~/Content/assets/img/illustrations/services-bg.png)");background-position:center left;background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="container-lg">
            <div class="row justify-content-center">
                <div class="col-3 text-center">
                    <h2 class="fw-bold">Dịch vụ của chúng tôi</h2>
                    <hr class="w-25 mx-auto text-dark" style="height:2px;" />
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-9 col-xl-8 text-center">
                    <p>Chúng tôi cung cấp cho bạn những sự lựa chọn tốt nhất. Dành cho bạn những tư vấn phù hợp với nhu cầu sức khỏe của bạn và đảm bảo rằng bạn đang điều trị với các bác sĩ có trình độ chuyên môn cao của chúng tôi, bạn có thể tham khảo ý kiến của chúng tôi về tình trạng sức khỏe của bạn.</p>
                </div>
            </div>
            <div class="row justify-content-center h-100 pt-7 g-4">
                <div class="col-sm-9 col-md-4">
                    <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                        <div class="card-body text-center text-md-start">
                            <div class="py-3"><img class="img-fluid" src="@Url.Content("~/Content/assets/img/illustrations/search.png")" height="90" alt="" /></div>
                            <div class="py-3">
                                <h4 class="fw-bold card-title">Search doctor</h4>
                                <p class="card-text">Chọn bác sĩ của bạn từ hàng nghìn bệnh viện chuyên khoa, đa khoa và đáng tin cậy</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-4">
                    <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                        <div class="card-body text-center text-md-start">
                            <div class="py-3"><img class="img-fluid" src="@Url.Content("~/Content/assets/img/illustrations/online-pharmacy.png")" height="90" alt="" /></div>
                            <div class="py-3">
                                <h4 class="fw-bold card-title">Kham khảo thuốc trực tuyến</h4>
                                <p class="card-text">Đơn thuốc được lập online và chỉ dành riêng cho bạn với hệ thống website của chúng tôi.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-4">
                    <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                        <div class="card-body text-center text-md-start">
                            <div class="py-3"><img class="img-fluid" src="@Url.Content("~/Content/assets/img/illustrations/consultation.png")" height="90" alt="" /></div>
                            <div class="py-3">
                                <h4 class="fw-bold card-title">Tra Cứu</h4>
                                <p class="card-text">Bạn có thể nhận được tư vấn của chúng tôi mọi lúc bạn cần. Chúng tôi tư vấn hoàn toàn miễn phí.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-4">
                    <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                        <div class="card-body text-center text-md-start">
                            <div class="py-3"><img class="img-fluid" src="@Url.Content("~/Content/assets/img/illustrations/details-info.png")" height="90" alt="" /></div>
                            <div class="py-3">
                                <h4 class="fw-bold card-title">Thông tin chi tiết</h4>
                                <p class="card-text">Bạn có thể nhận được tư vấn của chúng tôi mọi lúc bạn cần ở bất cứ đâu khi có ban có Messanger.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-4">
                    <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                        <div class="card-body text-center text-md-start">
                            <div class="py-3"><img class="img-fluid" src="@Url.Content("~/Content/assets/img/illustrations/emergency-care.png")" height="90" alt="" /></div>
                            <div class="py-3">
                                <h4 class="fw-bold card-title">Chăm sóc khẩn cấp</h4>
                                <p class="card-text">Theo dõi và lưu lịch sử y tế và dữ liệu sức khỏe của bạn </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-4">
                    <div class="card h-100 w-100 shadow rounded-lg p-3 p-md-2 p-lg-3 p-xl-5">
                        <div class="card-body text-center text-md-start">
                            <div class="py-3"><img class="img-fluid" src="@Url.Content("~/Content/assets/img/illustrations/tracking.png")" height="90" alt="" /></div>
                            <div class="py-3">
                                <h4 class="fw-bold card-title">Theo dõi</h4>
                                <p class="card-text">Theo dõi và lưu lịch sử y tế và dữ liệu sức khỏe của bạn </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center py-4">
                    <button class="btn btn-lg btn-outline-primary rounded-pill" type="submit">Learn more </button>
                </div>
            </div>
        </div>
    </section>
</body> 