@{
    ViewBag.Title = "Trang chủ";
}

<div class="tp-banner-container hidden-dot ver1">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE  -->
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="6" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img height="100" width="150" src="@Url.Content("~/Content/assets-ff/images/h.jpg")" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <!-- LAYER NR. 9 -->
                <div class="tp-caption color-white customin randomrotateout font-ros tp-resizeme size-60 text-shadow"
                     data-x="650"
                     data-y="305"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 3">
                    Tư Vấn Sức Khỏe Online
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption color-white font-ros weight-300 skewfromleft customout size-20 letter-spacing-2 text-shadow"
                     data-x="505"
                     data-y="390"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1600"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 4">
                    Chúng tôi cung cấp dịch vụ tư vấn sức khỏe, tin tức và tra cứ thông tin thuốc trực tuyến.
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption skewfromleft customout font-roc link-1 height-40 size-16"
                     data-x="865"
                     data-y="460"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 5">
                    <a href="#" title="View Shop" class="">Chi tiết</a>
                </div>
                <!-- LAYER NR. 8s -->
            </li>
            <!-- SLIDER -->
            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="6" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img height="100" width="150" src="@Url.Content("~/Content/assets-ff/images/j.jpg")" alt="Futurelife-home2-slideshow" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <!-- LAYER NR. 9 -->
                <div class="tp-caption color-ea8800 customin randomrotateout font-ro tp-resizeme size-130 weight-300 uppercase"
                     data-x="585"
                     data-y="245"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-speed="500"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-splitin="chars"
                     data-splitout="none"
                     data-elementdelay="0.1"
                     data-endelementdelay="0.1"
                     style="z-index: 3">
                  Tất Cả Vì Bạn
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption color-2b2b2b font-ros weight-400 skewfromleft customout size-20 letter-spacing-2"
                     data-x="505"
                     data-y="403"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1600"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 4">
                    Mang đến cho bạn những sự tư vấn nhiệt tình, tận tâm, chu đáo nhất ngay cả khi trực tuyến.
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption skewfromleft customout font-roc link-1 height-40 size-16"
                     data-x="865"
                     data-y="460"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 5">
                    <a href="#" title="View Shop" class="">View Details</a>
                </div>
                <!-- LAYER NR. 8s -->
            </li>
            <!-- SLIDER -->
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- End Slider Home2 -->
<div class="container container-ver2">
    <div class="banner-home2 center">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a class="hover-images" href="#" title="images">
                    <img class="img-responsive" src="@Url.Content("~/Content/assets-ff/images/r.jpg")" alt="banner">
                </a>
            </div>
            <!--End col-md-4-->
            <div class="col-md-4 col-sm-4">
                <a href="#" class="hover-images" title="ịmages">
                    <img class="img-responsive" src="@Url.Content("~/Content/assets-ff/images/r.jpg")" alt="banner">
                </a>
            </div>
            <!--End col-md-4-->
            <div class="col-md-4 col-sm-4">
                <a href="#" class="hover-images" title="images">
                    <img class="img-responsive" src="@Url.Content("~/Content/assets-ff/images/r.jpg")" alt="banner">
                </a>
            </div>
            <!--End col-md-4-->
        </div>
    </div>
</div>
<!--End Banner Home 2 -->
