@model IEnumerable<VanLangDoctor.Models.BACSI>

@{
    ViewBag.Title = "Bác sĩ";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/Content/assets-dr/assets-docban/jquery.js"></script>
    <script src="~/Content/assets-dr/assets-docban/nicepage.js"></script>
    <link href="~/Content/assets-dr/assets-docban/nicepage.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/assets-docban/Page-1.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets-dr/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/animate.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/aos.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/assets-dr/css/style.css">

</head>

<section class="u-align-center u-clearfix u-image u-shading u-section-1" src="" data-image-width="150" data-image-height="100" id="sec-7fab">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-title u-text-1" style="color:white">Bác sĩ</h1>
        <p class="u-large-text u-text u-text-variant u-text-2">Mọi người trả tiền cho “công sức” của bác sĩ, còn sự tử tế của bác sĩ thì vẫn sẽ mãi là món nợ ân tình.</p>
    </div>
</section>

<section>
    <div class="container">
        @*Search*@
        <br />
        <div class="form-container" style="text-align:center; margin-left: 6em">
            <span style="color:black; margin-left: 2em"><i class="fa fa-search"></i></span><input id="searchbar" type="text" name="search" placeholder="Tìm kiếm...">
        </div>
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 d-flex mb-sm-4 ftco-animate fadeInUp ftco-animated">
                    <div class="staff" style="border-radius:2em">
                        <a href="~/trang-chu/bac-si/@item.TEN_BACSI.ToLower()-@item.ID_BACSI">
                            <div class="img mb-4" style="background-image: url(@Url.Action("Picture", new {item.ID_BACSI}));"></div>
                        </a>
                        <div class="info text-center">
                            <h3><a href="~/trang-chu/bac-si/@item.TEN_BACSI.ToLower()-@item.ID_BACSI" class="name_bs">@item.TEN_BACSI</a></h3>

                            <span class="position">@item.KHOA.TEN_KHOA</span>
                            <div class="text">
                                <p><img src="https://img.icons8.com/external-icongeek26-outline-gradient-icongeek26/64/000000/external-doctor-pregnancy-amp-maternity-icongeek26-outline-gradient-icongeek26-1.png" style="height: 25px" />  @item.NGHE_NGHIEP</p>

                                <p><img src="https://img.icons8.com/dotty/80/000000/internship.png" style="height: 20px" />@item.KINH_NGHIEM năm </p>
                                <ul class="ftco-social">
                                    <li class="ftco-animate fadeInUp ftco-animated ">
                                        <a href="tel:@item.SDT">
                                            <i class="icon-phone2 popup-point">
                                                <span class="popup-text" style="margin: 1.5em -3em">@item.SDT</span>
                                            </i>
                                        </a>
                                    </li>
                                    <li class="ftco-animate fadeInUp ftco-animated ">
                                        <a href="mailto:@item.AspNetUser.Email">
                                            <i class="icon-mail_outline popup-point">
                                                <span class="popup-text"> @item.AspNetUser.Email</span>
                                            </i>
                                        </a>
                                    </li>
                                    <li class="ftco-animate fadeInUp ftco-animated ">
                                        <a href="#">
                                            <i class="icon-calendar popup-point booking">
                                                <span class="popup-text">Đặt lịch tư vấn</span>
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>



<script>
    $('input[name=search]').keyup(function () {
        $(this).change();
    });
    $('input[name=search]').change(function () {
        let val = $(this).val();
        $('.staff').each(function (_, element) {
            if (!$(element).find('.name_bs').text().trim().toLowerCase().includes(val.toLowerCase())) {
                $(element).parent().attr('style', 'display: none !important');
            } else {
                $(element).parent().removeAttr('style');
            }
        });
    });
</script>