@model VanLangDoctor.Models.BACSI

@{
    ViewBag.Title = "Thông tin bác sĩ";
}

<head>
    <!-- bootstrap.min css -->
    @*<link href="~/Content/asset-dr-inf/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/assets-dr/css/bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <!-- Icon Font Css -->
    <link href="~/Content/asset-dr-inf/plugins/icofont/icofont.min.css" rel="stylesheet" />
    <!-- Slick Slider  CSS -->
    <link href="~/Content/asset-dr-inf/plugins/slick-carousel/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/asset-dr-inf/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet" />

    <!-- Main Stylesheet -->
    <link href="~/Content/asset-dr-inf/css/style.css" rel="stylesheet" />
</head>

<section class="page-title bg-1">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block text-center">
                    <span class="text-white">Thông tin về bác sĩ</span>
                    <h1 class="text-capitalize mb-5 text-lg">@Model.TEN_BACSI</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section doctor-single">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="doctor-img-block">
                    <img src="~/Content/assets-dr/images/person_7.jpg" alt="" class="img-fluid min-vw-100" style="height: 210px; width: 210px">

                    <div class="info-block mt-4">
                        <h4 class="mb-0">@Model.TEN_BACSI</h4>
                        <p>@Model.KHOA.TEN_KHOA</p>

                        <ul class="list-inline mt-4 doctor-social-links">
                            <li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="doctor-details mt-4 mt-lg-0">
                    <h2 class="text-md">Tiêu chí</h2>
                    <div class="divider my-4"></div>
                    <p>Là một bác sĩ, mọi người sẽ tin tưởng bạn, tâm sự với bạn và đánh giá cao những nỗ lực của bạn. Bạn có thể làm rất nhiều điều tuyệt vời cho mọi người nếu như bạn không để hệ thống này làm bạn thất vọng</p>
                    @*<a href="appoinment.html" class="btn btn-main-2 btn-round-full mt-3">Make an Appoinment<i class="icofont-simple-right ml-2  "></i></a>*@
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar-widget  gray-bg p-4">
                    <h5 class="mb-4" style="margin:0.5em; font-size: 16px">Thông tin chi tiết</h5>

                    <ul class="list-unstyled lh-35" style=" margin: 1em">
                        <li class="d-flex justify-content-between align-items-center">
                            <a href="#">Ngày sinh</a>
                            <span>@Html.FormatValue(Model.NGAYSINH_BS, "{0:d}")</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <a href="#">Kinh nghiệm</a>
                            <span>@Model.KINH_NGHIEM năm</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <a href="#">Nghề nghiệp</a>
                            <span>@Model.NGHE_NGHIEP</span>
                        </li>
                        <li class="d-flex justify-content-between align-items-center">
                            <a href="#">Ngày trực</a>
                            <span>@Html.FormatValue(Model.NGAY_TRUC, "{0:d}")</span>
                        </li>

                    </ul>
                    
                    <div class="sidebar-contatct-info mt-4" style="margin: 1em">
                        <p class="mb-0">Liên hệ: </p>
                        <a href="tel:@Model.SDT">
                            <i class="icon-phone text-color-2">:@Model.SDT</i>
                        </a>
                        <a href="mailto:@Model.EMAIL">
                            <i class="icofont-send-mail" style="height: 15px; width: 15px">: @Model.EMAIL</i>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
