@model VanLangDoctor.Models.BACSI

@{
    ViewBag.Title = "Thông tin bác sĩ";
}

<head>
    <link href="~/Content/assets-dr/css/bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/asset-dr-inf/plugins/icofont/icofont.min.css" rel="stylesheet" />
    <link href="~/Content/asset-dr-inf/plugins/slick-carousel/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/asset-dr-inf/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/asset-dr-inf/css/style.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="GradientFill, Thông tin về bác sĩ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Thông tin về bác sĩ</title>
    <link href="~/Content/asset-dr-inf/css/nicepage.css" rel="stylesheet" />
    <link href="~/Content/asset-dr-inf/css/ViewDetailDoctor.css" rel="stylesheet" />
    <script src="~/Content/asset-dr-inf/js/jquery.js"></script>
    <script src="~/Content/asset-dr-inf/js/nicepage.js"></script>
    <meta name="generator" content="Nicepage 4.6.4, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Sans+Caption:400,700">

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Thông tin về bác sĩ">
    <meta property="og:type" content="website">
</head>

@* body *@
<body class="u-body u-xl-mode">
    <section class="skrollable skrollable-between u-align-center u-clearfix u-gradient u-section-1" id="sec-f353">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-body-alt-color u-text-default u-title u-text-1">
                <b>Chuyên khoa</b>
            </h1>
            <p class="u-large-text u-text u-text-body-alt-color u-text-variant u-text-2">@Model.KHOA.TEN_KHOA</p>
            <a href="~/trang-chu/bac-si" class="u-btn u-btn-round u-button-style u-palette-2-base u-radius-50 u-btn-1">Các bác sĩ khác</a>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-section-2" id="carousel_78dc" data-image-width="1980" data-image-height="1320">
        <div class="u-clearfix u-sheet u-valign-bottom-sm u-valign-bottom-xs u-sheet-1">
            <h2 class="u-custom-font u-text u-text-font u-text-1">Thông tin về bác sĩ</h2>
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-palette-1-light-3 u-size-20 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h4 class="u-custom-font u-text u-text-font u-text-2">Thông tin chi tiết</h4>
                                <p class="u-text u-text-3">
                                    <span style="font-weight: 700;">
                                        <span style="font-size: 1.25rem;">Tên</span>
                                        <span style="font-size: 1.25rem;">
                                            :
                                            @if (Model.GIOI_TINH.ToString().ToLower() == "nam")
                                            {
                                                <span style="font-weight: 400;">BS. @Model.TEN_BACSI</span>
                                            }
                                            else
                                            { <span style="font-weight: 400;">BS. @Model.TEN_BACSI</span>}

                                        </span>
                                    </span>
                                    <br>
                                    <span style="font-weight: 700;">
                                        Ngày sinh: <span style="font-weight: 400;">@Html.FormatValue(Model.NGAYSINH_BS, "{0:d}")</span>
                                    </span>
                                    <span style="font-weight: 700;">
                                        <br>Nghề nghiệp: <span style="font-weight: 400;">@Model.NGHE_NGHIEP</span>
                                    </span>
                                    <br>
                                    <span style="font-weight: 700;">Chuyên </span>
                                    <span style="font-weight: 700;">khoa</span>: @Model.KHOA.TEN_KHOA<br>
                                    <span style="font-weight: 700;">Kinh </span>
                                    <span style="font-weight: 700;">nghiệm </span>: @Model.KINH_NGHIEM năm<br>
                                    <span style="font-weight: 700;">Ngày </span>
                                    <span style="font-weight: 700;">trực </span>: @Html.FormatValue(Model.NGAY_TRUC, "{0:d}")
                                </p>
                                @*<div class="col-lg-offset-4">
                                    <div class="u-social-icons u-spacing-10 u-social-icons-1">
                                        @*<ul class="list-inline mt-4 doctor-social-links">
                                            <li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
                                            <li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
                                        </ul>*@
                                    </div>
                                </div>*@
                            </div>
                        </div>
                        <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-palette-1-light-2 u-size-22 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-2">
                                <h4 class="u-custom-font u-text u-text-font u-text-4">Tiêu chí</h4>
                                <p class="u-text u-text-5"> Là một bác sĩ, mọi người sẽ tin tưởng bạn, tâm sự với bạn và đánh giá cao những nỗ lực của bạn. Bạn có thể làm rất nhiều điều tuyệt vời cho mọi người nếu như bạn không để hệ thống này làm bạn thất vọng</p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-palette-1-light-1 u-size-18 u-layout-cell-3">
                            <div class="u-container-layout u-container-layout-3">
                                <div class="u-image u-image-circle u-preserve-proportions u-image-1" style="background-image: url(@Url.Action("Picture", new {Model.ID_BACSI}))" alt="" data-image-width="700" data-image-height="774"></div>
                                @if (Model.GIOI_TINH.ToString().ToLower() == "nam")
                                {
                                    <h3 class="u-align-center u-custom-font u-text u-text-6">BS. @Model.TEN_BACSI</h3>
                                }
                                else
                                {
                                    <h3 class="u-align-center u-custom-font u-text u-text-6">BS. @Model.TEN_BACSI</h3>
                                }
                                <p class="u-align-left u-custom-font u-font-pt-sans u-text u-text-7">
                                    Thông tin liên hệ<br>&nbsp;
                                    <span class="u-file-icon u-icon u-text-white">
                                        <img src="~/Content/asset-dr-inf/images/5.png" alt="">
                                    </span>&nbsp; : 
                                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-2-light-1 u-text-white u-btn-1" href="tel:@Model.SDT">@Model.SDT</a>
                                    <br>&nbsp;
                                    <span class="u-file-icon u-icon u-text-white">
                                    <img src="~/Content/asset-dr-inf/images/6.png" alt="">
                                        </span>&nbsp; : 
                                    <a href="mailto:@Model.AspNetUser.Email" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-2-light-1 u-text-white u-btn-1">@Model.AspNetUser.Email</a>
                                    
                                </p>
                                <a href="mailto:@Model.AspNetUser.Email" class="u-active-palette-2-light-2 u-border-3 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-none u-radius-50 u-text-active-white u-text-black u-text-hover-white u-btn-3">Liên hệ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>