@model VanLangDoctor.Models.BENH_NHAN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/formcrud.css" rel="stylesheet" />

</head>
<body>
    <div class="page-wrapper" style="display: block;">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                                <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly/bac-si/danh-sach" class="text-muted">Danh sách bác sĩ</a></li>
                                <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-back" href="@Url.Action("DanhSachBN","BENH_NHAN")">
                            <span-back>Trở về</span-back>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID_BENH_NHAN)

                    <div class="form-group">
                        <label><b>Tên bệnh nhân</b></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TEN_BN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TEN_BN, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label><b>Giới tính</b></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GIOI_TINH, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GIOI_TINH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label><b>Ngày sinh</b></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NGAY_SINH, new { htmlAttributes = new { @class = "form-control", @type="date"} })
                            @Html.ValidationMessageFor(model => model.NGAY_SINH, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label><b>Email</b></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.AspNetUser.Id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ID_EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                    <div class="form-group">
                        <label><b>Số điện thoại</b></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label><b>Chuẩn đoán</b></label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CHUAN_DOAN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CHUAN_DOAN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-push-12 col-md-5">
                        <button type="submit" class="button" style="vertical-align:middle"><span>Xác nhận </span></button>
                    </div>
                </div>
            </div>
        }
    </div>
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>