@model IEnumerable<VanLangDoctor.Models.BENH_NHAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Xin chào</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Danh sách bệnh nhân</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    @*<div class="customize-input float-right">
                            <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                                <option selected>Aug 19</option>
                                <option value="1">July 19</option>
                                <option value="2">Jun 19</option>
                            </select>
                        </div>*@
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <p>
                @Html.ActionLink("Thêm mới bệnh nhân", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        Tên bệnh nhân
                    </th>
                    <th>
                        Tuổi
                    </th>
                    <th>
                        Ngày sinh
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        SĐT
                    </th>
                    <th>
                        Giới tính
                    </th>
                    <th>
                        Chẩn đoán
                    </th>
                    <th>
                        Nghề nghiệp
                    </th>
                    <th>
                        BHYT
                    </th>
                    <th>
                        Bác sĩ chữa bệnh
                    </th>
                    <th>
                        Bệnh án
                    </th>
                    <th>
                        Điều chỉnh
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TEN_BN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TUOI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NGAY_SINH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMAIL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GIOI_TINH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CHUAN_DOAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NGHE_NGHIEP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BHYT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BACSI.TEN_BACSI)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BENH_AN.KET_QUA)
                        </td>
                        <td>
                            @Html.ActionLink("Cập nhật", "Edit", new { id = item.ID_BENH_NHAN }) |
                            @Html.ActionLink("Chi tiết", "Details", new { id = item.ID_BENH_NHAN }) |
                            @Html.ActionLink("Xoá", "Delete", new { id = item.ID_BENH_NHAN })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>