@model VanLangDoctor.Models.BENH_NHAN
@{
    ViewBag.Title = "Cập nhật tài khoản";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>DentaCare - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/Content/assets-dr/css/icomoon.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/css/animate.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/css/aos.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/css/jquery.timepicker.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/assets-dr/css/owl.theme.default.min.css" rel="stylesheet" />*
    <link href="~/Content/assets-dr/css/style.css" rel="stylesheet" />
</head>
<body>
    <section class="home-slider owl-carousel">
        <div class="slider-item bread-item" style="background-image: linear-gradient(to right, purple, red)" >
            <div class="overlay"></div>
            <div class="container" data-scrollax-parent="true">
                <div class="row slider-text align-items-end">
                    <div class="col-md-7 col-sm-12 ftco-animate mb-5">
                        <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="/trang-chu">Trang Chủ</a></span> / <span>Tài khoản</span></p>
                        <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section contact-section ftco-degree-bg">
        <div class="container">
            <h1 style="text-align:center">@ViewBag.Title</h1>
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-12 mb-4">
                    @if (ViewBag.message != null)
                    {
                        <h3 class="text-danger">@ViewBag.message</h3>
                    }
                </div>
            </div>
            <div class="col-lg-offset-2">
                <div class="col-md-12">
                    <form action="@Url.Action("Luu", "CapnhatTK")" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" class="form-control" value="@Model.AspNetUser.Id" name="id" />
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" disabled value="@Model.AspNetUser.Email">

                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="TEN_BN" value="@Model.TEN_BN" name="hovaten" placeholder="Tên của bạn">
                                    @Html.ValidationMessageFor(model => model.TEN_BN, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="SDT" value="@Model.SDT" name="sdt" placeholder="Số điện thoại">
                                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="GIOI_TINH" value="@Model.GIOI_TINH" name="gioitinh" placeholder="Giới tính">
                                    @Html.ValidationMessageFor(model => model.GIOI_TINH, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-10">
                                <div class="form-group">
                                    @if (Model.NGAY_SINH == null)
                                    {
                                        <input type="date" class="form-control" id="NGAY_SINH" value="@Model.NGAY_SINH" name="ngaysinh">
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" id="NGAY_SINH" value="@Html.FormatValue(Model.NGAY_SINH,"{0:d}")" name="ngaysinh">
                                    }
                                    @Html.ValidationMessageFor(model => model.NGAY_SINH, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <textarea name="diachi" id="CHUAN_DOAN" cols="30" rows="5" class="form-control" placeholder="Địa chỉ">@Model.DIA_CHI</textarea>
                                    @Html.ValidationMessageFor(model => model.DIA_CHI, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cập nhật" class="btn btn-primary py-3 px-5">
                            <a class="btn btn-primary py-3 px-5" href="@Url.Action("SoKhamBenh", "So_Kham_Benh", new { id = Model.ID_BENH_NHAN})">Đăng ký sổ khám bệnh</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Content/assets-dr/js/jquery.min.js"></script>
    <script src="~/Content/assets-dr/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/assets-dr/js/popper.min.js"></script>
    <script src="~/Content/assets-dr/js/bootstrap.min.js"></script>
    <script src="~/Content/assets-dr/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/assets-dr/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets-dr/js/jquery.stellar.min.js"></script>
    <script src="~/Content/assets-dr/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets-dr/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/assets-dr/js/aos.js"></script>
    <script src="~/Content/assets-dr/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/assets-dr/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets-dr/js/jquery.timepicker.min.js"></script>
    <script src="~/Content/assets-dr/js/scrollax.min.js"></script>
    <script src="~/Content/assets-dr/js/main.js"></script>
</body>
</html>
