@model IEnumerable<VanLangDoctor.Models.FEEDBACK>

@{
    ViewBag.Title = "Thống kê phản hồi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!--<link href="~/Content/assets-ad/libs/chartist/dist/chartist.min.css" rel="stylesheet" />-->
<!-- Custom CSS -->
<!--<link href="~/Content/assets-ad/extra-libs/c3/c3.min.css" rel="stylesheet">
<link href="~/Content/assets-ad/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />-->
<!-- Custom CSS -->
<link href="dist/css/style.min.css" rel="stylesheet">
<div class="page-wrapper" style="display: block">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body" style="width: 100%; height: auto; vertical-align:middle">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mức độ hài lòng
                </button>
                <div class="dropdown-menu" x-placement="right-start" style="position: absolute; transform: translate3d(110px, 0px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item" href="@Url.Action("Index", "QL_TKFeedBack", new { dg = "Rất hài lòng" })">Rất hài lòng</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "QL_TKFeedBack", new { dg = "Hài lòng" })">Hài lòng</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "QL_TKFeedBack", new { dg = "Chưa hài lòng" })">Chưa hài lòng</a>
                    <a class="dropdown-item" href="@Url.Action("Index", "QL_TKFeedBack", new { dg = "Bình thường" })">Bình thường</a>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>
                        Người đánh giá
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Góp ý
                    </th>
                    <th>
                        Đánh giá
                    </th>
                    <th>
                        Email
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TEN_NDG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GOP_Y)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DANH_GIA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                        </td>

                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<script src="~/Content/assets-ad/libs/jquery/dist/jquery.min.js"></script>
<script src="~/Content/assets-ad/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/Content/assets-ad/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- apps -->
<!-- apps -->
<script src="~/Content/assets-ad/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/Content/assets-ad/extra-libs/c3/d3.min.js"></script>
<script src="~/Content/assets-ad/extra-libs/c3/c3.min.js"></script>
<script src="~/Content/assets-ad/libs/chartist/dist/chartist.min.js"></script>
<script src="~/Content/assets-ad/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="~/Content/assets-ad/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
<script src="~/Content/assets-ad/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
    $(document).ready(() => {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ChartData", "QL_TKFeedBack")',
            success: function (charts) {
                if (charts.code == 404) {
                    lert("Error loading data! Please try again!.");
                    return;
                }
                var data = charts.dbchart;
                var ctx = document.getElementById('chart').getContext('2d');
                var borderColors = {
                    'Rất hài lòng': 'rgb(19, 168, 168)',
                    'Hài lòng': 'rgb(74, 198, 255)',
                    'Bình thường': 'rgb(180, 74, 255)',
                    'Chưa hài lòng': 'rgb(232, 16, 49)'
                };
                var backgroundColors = {
                    'Rất hài lòng': 'rgba(19, 168, 168, 0.5)',
                    'Hài lòng': 'rgb(74, 198, 255, 0.5)',
                    'Bình thường': 'rgb(180, 74, 255, 0.5)',
                    'Chưa hài lòng': 'rgb(232, 16, 49, 0.5)'
                }
                var chart = new Chart(ctx, {
                    type: 'bar',
                    options: {
                        indexAxis: 'y',
                        element: {
                            bar: {
                                borderWidth: 2
                            }
                        },
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: 'Biểu đồ mức độ hài lòng',
                                position: 'bottom'
                            }
                        }
                    },
                    data: {
                        labels: [''],
                        datasets: data.map(item => ({
                            label: item.Key,
                            data: [item.Count],
                            borderColor: borderColors[item.Key],
                            backgroundColor: backgroundColors[item.Key]
                        }))
                    }
                });
                console.log(chart);
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        });
    });
</script>