@model List<VanLangDoctor.Models.AspNetRole>

@{
    ViewBag.Title = "Phan_Quyen";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Xin chào</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Thông tin bác sĩ</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <form action="@Url.Action("Delete", "QL_BacSi")" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="" readonly="" value="@ViewBag.user" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Quyền</label>
                    <div class="col-sm-10">
                        <select name="role" class="form-control fill">
                            @foreach (var role in Model)
                            {
                                if (role.Id == ViewBag.role)
                                {
                                    <option value="@role.Id" selected>@role.Name</option>
                                }
                                else
                                {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <button class="btn btn-danger waves-effect waves-light right">Lưu</button>
            </form>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>

