@model VanLangDoctor.Models.TIN_TUC

@{
    ViewBag.Title = "Chi tiết bài viết";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="container container-ver2">
    <div class="blog-post-container blog-page blog-classic">
        <div id="primary" class="col-xs-12 col-md-5 float-left center">
            <div class="blog-post-container box single-post">
                <div class="blog-post-item">
                    <div class="head">
                        <h3>@Model.TEN_BAI_VIET</h3>
                        <p class="post-by"><span>@Html.FormatValue(Model.NGAY_DANG, "{0:d}")</span><span><i class="fa fa-pencil-square-o"></i> @Model.TAC_GIA</span></p>
                    </div>
                    <!-- End head -->
                    <div class="text align-left">
                        @Html.Raw(Model.NOI_DUNG)
                        <div class="box">
                            <h3 class="title-v1 space-30">Bài viết nổi bật</h3>
                            <div class="blog-post-inner blog-related owl-nav-hidden center owl-carousel">
                                @foreach (var tnb in ViewBag.Top)
                                {
                                    <div class="blog-post-item" style="text-align:center">
                                        <div class="blog-post-image hover-images">
                                            <a href="~/trang-chu/tin-tuc/@tnb.TEN_BAI_VIET.ToLower().Replace(" ","-")-@tnb.ID_TIN_TUC" title="Post"><img src="@Url.Action("Picture", new {tnb.ID_TIN_TUC})" alt="" data-image-width="145" data-image-height="113" height="200"></a>
                                        </div>
                                        <div class="text" style="text-align:center">
                                            <h3><a href="~/trang-chu/tin-tuc/@tnb.TEN_BAI_VIET.ToLower().Replace(" ","-")-@tnb.ID_TIN_TUC" style="text-align:center" title="@tnb.TEN_BAI_VIET.ToLower()">@tnb.TEN_BAI_VIET.ToLower()</a></h3>
                                            <p class="post-by"><span><i class="fa fa-pencil-square-o"></i> @tnb.TAC_GIA</span><span><i class="fa fa-comment-o"></i> @tnb.CountViews Lượt xem</span></p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="secondary" class="widget-area col-xs-12 col-md-3 float-right">
            <div class="wrap-sidebar">
                <aside class="widget widget_search">
                </aside>
                <aside class="widget blog-categories">
                    <h3 class="widget-title">DANH MỤC</h3>
                    <ul>
                        @foreach (var item in ViewBag.danhmuc)
                        {
                            <li><a href="@Url.Action("Tin_Tuc","TinTuc", new { id_cate = item.ID })" title="@item.Danhmuc_tin">@item.Danhmuc_tin</a></li>
                        }
                    </ul>
                </aside>
                <aside class="widget recent-post">
                    <h3 class="widget-title">Các tin nổi bật</h3>
                    <ul>
                        @foreach (var top in ViewBag.Top)
                        {
                            <li><a href="~/trang-chu/tin-tuc/@top.TEN_BAI_VIET.ToLower().Replace(" ","-")-@top.ID_TIN_TUC" title="@top.TEN_BAI_VIET">@top.TEN_BAI_VIET.ToLower()</a></li>
                        }
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>


