@model IEnumerable<VanLangDoctor.Models.TIN_TUC>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="~/Content/assets-news/img/favicon.ico">
<!-- CSS here -->
@*<link rel="stylesheet" href="~/Content/assets-news/css/bootstrap.min.css">*@
<link rel="stylesheet" href="~/Content/assets-news/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/Content/assets-news/css/ticker-style.css">
<link rel="stylesheet" href="~/Content/assets-news/css/flaticon.css">
<link rel="stylesheet" href="~/Content/assets-news/css/slicknav.css">
<link rel="stylesheet" href="~/Content/assets-news/css/animate.min.css">
<link rel="stylesheet" href="~/Content/assets-news/css/magnific-popup.css">
<link rel="stylesheet" href="~/Content/assets-news/css/fontawesome-all.min.css">
<link rel="stylesheet" href="~/Content/assets-news/css/themify-icons.css">
<link rel="stylesheet" href="~/Content/assets-news/css/slick.css">
<link rel="stylesheet" href="~/Content/assets-news/css/nice-select.css">
<link rel="stylesheet" href="~/Content/assets-news/css/style.css">


<main>
    <!-- Trending Area Start -->
    <div class="trending-area fix">
        <div class="container">
            <div class="trending-main">
                <!-- Trending Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="trending-tittle">
                            <strong>Trending now</strong>
                            <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                            <div class="trending-animated">
                                <ul id="js-news" class="js-hidden">
                                    <li class="news-item">Bangladesh dolor sit amet, consectetur adipisicing elit.</li>
                                    <li class="news-item">Spondon IT sit amet, consectetur.......</li>
                                    <li class="news-item">Rem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-auto">
                        <!-- Trending Top -->
                        <div class="trending-top mb-30">
                            <div class="trend-top-img">
                                <img src="@Url.Action("Picture", new {ViewBag.Top1.ID_TIN_TUC})" alt="">
                                <div class="trend-top-cap">
                                    <span>@ViewBag.Top1.DANH_MUC_TIN.Danhmuc_tin</span>
                                    <h2><a href="@Url.Action("Details", "TinTuc", new { id = ViewBag.Top1.ID_TIN_TUC})"></a>@ViewBag.Top1.TEN_BAI_VIET</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Trending Bottom -->
                        <div class="trending-bottom">
                            <div class="row">
                                @foreach (var t in ViewBag.Top3)
                                {
                                    <div class="col-lg-4">
                                        <div class="single-bottom mb-35">
                                            <div class="trend-bottom-img mb-30">
                                                <img src="@Url.Action("Picture", new {ViewBag.Top1.ID_TIN_TUC})" alt="">
                                            </div>
                                            <div class="trend-bottom-cap">
                                                <span class="color1">@ViewBag.Top1.DANH_MUC_TIN.Danhmuc_tin</span>
                                                <h4><a href="@Url.Action("Details", "TinTuc", new { id = ViewBag.Top1.ID_TIN_TUC })">@ViewBag.Top1.TEN_BAI_VIET</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Trending Area End -->
    <br />
    <!-- Whats New Start -->
    <section class="whats-news-area pt-50 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row d-flex justify-content-between">
                        <div class="col-lg-3 col-md-3">
                            <div class="section-tittle mb-30">
                                <h3>Tin tức</h3>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="properties__button">
                                <!--Nav Button  -->
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="all" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Tất cả</a>
                                        <a class="nav-item nav-link" id="camnang" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Cẩm nang sức khoẻ</a>
                                        <a class="nav-item nav-link" id="tuyendung" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Tuyển dụng</a>
                                    </div>
                                </nav>
                                <!--End Nav Button  -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                @foreach (var t in Model)
                                {
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-what-news mb-100">
                                            <div class="what-img">
                                                <img src="@Url.Action("Picture", new { t.ID_TIN_TUC })" style="width:330px;height:307px;" alt="">
                                            </div>
                                            <div class="what-cap">
                                                <span class="color1">@t.DANH_MUC_TIN.Danhmuc_tin</span>
                                                <h4><a href="@Url.Action("Details", "TinTuc", new { id = t.ID_TIN_TUC })">@t.TEN_BAI_VIET</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-40">
                        <h3>Follow Us</h3>
                    </div>
                    <!-- Flow Socail -->
                    <div class="single-follow mb-45">
                        <div class="single-box">
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="~/Content/assets-news/img/news/icon-fb.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="~/Content/assets-news/img/news/icon-tw.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="~/Content/assets-news/img/news/icon-ins.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                            <div class="follow-us d-flex align-items-center">
                                <div class="follow-social">
                                    <a href="#"><img src="~/Content/assets-news/img/news/icon-yo.png" alt=""></a>
                                </div>
                                <div class="follow-count">
                                    <span>8,045</span>
                                    <p>Fans</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- New Poster -->
                    <div class="news-poster d-none d-lg-block">
                        <img src="~/Content/assets-news/img/news/news_card.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Whats New End -->
    <!--   Weekly2-News start -->
    <div class="weekly2-news-area  weekly2-pading gray-bg">
        <div class="container">
            <div class="weekly2-wrapper">
                <!-- section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle mb-30">
                            <h3>Bài viết gần đây</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="weekly2-news-active dot-style d-flex dot-style">
                            @foreach (var t in ViewBag.RecentArticles)
                            {
                                <div class="weekly2-single">
                                    <div class="weekly2-img">
                                        <img src="@Url.Action("Picture", new { t.ID_TIN_TUC })" alt="">
                                    </div>
                                    <div class="weekly2-caption">
                                        <span class="color1">@t.DANH_MUC_TIN.Danhmuc_tin</span>
                                        <p>@t.NGAY_DANG</p>
                                        <h4><a href="@Url.Action("Details", "TinTuc", new { id = t.ID_TIN_TUC })">@t.TEN_BAI_VIET</a></h4>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Weekly-News -->
</main>

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
<script src="~/Content/assets-news//js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="~/Content/assets-news//js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/Content/assets-news//js/popper.min.js"></script>
<script src="~/Content/assets-news//js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="~/Content/assets-news//js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="~/Content/assets-news/js/owl.carousel.min.js"></script>
<script src="~/Content/assets-news/js/slick.min.js"></script>
<!-- Date Picker -->
<script src="~/Content/assets-news/js/gijgo.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="~/Content/assets-news/js/wow.min.js"></script>
<script src="~/Content/assets-news/js/animated.headline.js"></script>
<script src="~/Content/assets-news/js/jquery.magnific-popup.js"></script>

<!-- Breaking New Pluging -->
<script src="~/Content/assets-news/js/jquery.ticker.js"></script>
<script src="~/Content/assets-news/js/site.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="~/Content/assets-news/js/jquery.scrollUp.min.js"></script>
<script src="~/Content/assets-news/js/jquery.nice-select.min.js"></script>
<script src="~/Content/assets-news/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="~/Content/assets-news/js/contact.js"></script>
<script src="~/Content/assets-news/js/jquery.form.js"></script>
<script src="~/Content/assets-news/js/jquery.validate.min.js"></script>
<script src="~/Content/assets-news/js/mail-script.js"></script>
<script src="~/Content/assets-news/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="~/Content/assets-news/js/plugins.js"></script>
<script src="~/Content/assets-news/js/main.js"></script>