@model IEnumerable<VanLangDoctor.Models.BACSI>

@{
    ViewBag.Title = "Bac-si";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<style>
    .profile {
        margin: 20px 0;
    }

    .profile-sidebar {
        padding: 20px 0 10px 0;
        background: #fff;
    }


    .profile-userpic img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        border-radius: 50% !important;
    }


    .profile-usertitle {
        text-align: center;
        margin-top: 20px;
    }


    .profile-usertitle-name {
        color: #5a7391;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 7px;
    }


    .profile-usertitle-job {
        text-transform: uppercase;
        color: #5b9bd1;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 15px;
    }


    .profile-userbuttons {
        text-align: center;
        margin-top: 10px;
    }


        .profile-userbuttons .btn {
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 600;
            padding: 6px 15px;
            margin-right: 5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

            .profile-userbuttons .btn:last-child {
                margin-right: 0px;
            }

    .profile-usermenu {
        margin-top: 30px;
    }

        .profile-usermenu ul li {
            border-bottom: 1px solid #f0f4f7;
        }

            .profile-usermenu ul li:last-child {
                border-bottom: none;
            }

            .profile-usermenu ul li a {
                color: #93a3b5;
                font-size: 14px;
                font-weight: 400;
            }

                .profile-usermenu ul li a i {
                    margin-right: 8px;
                    font-size: 14px;
                }

                .profile-usermenu ul li a:hover {
                    background-color: #fafcfd;
                    color: #5b9bd1;
                }


            .profile-usermenu ul li.active {
                border-bottom: none;
            }

                .profile-usermenu ul li.active a {
                    color: #5b9bd1;
                    background-color: #f6f9fb;
                    border-left: 2px solid #5b9bd1;
                    margin-left: -2px;
                }

    #inf-doctor ul {
        background-color: #E6E6FA;
        list-style-type: none;
        text-align: center;
    }

    #inf-doctor li {
        color: #f1f1f1;
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        margin-left: -5px;
        font-size: larger;
    }
</style>

<div class="container">
    <div class="banner-header banner-lbook3 space-30">
        <img src="~/Content/assets-ff/images/banner/285867aaa8b681b.jpg" alt="Banner-header">
        <div class="text">
            <h3>Danh sách bác sĩ</h3>
            <p><a href="#" title="Home">Home</a><i class="fa fa-caret-right"></i>Danh sách bác sĩ</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="row profile">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <div class="profile-userpic">
                            <img src="~/Content/assets-ff/images/d.jpg" class="img-responsive" alt="Thông tin cá nhân">
                        </div>
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">@Html.DisplayFor(modelItem => item.TEN_BACSI)</div>
                            <div class="profile-usertitle-job">@Html.DisplayFor(modelItem => item.KHOA.TEN_KHOA)</div>
                        </div>
                        <div class="profile-userbuttons">
                            <button type="button" class="btn btn-success btn-sm">@Html.ActionLink("Chi tiết", "Details", new { id = item.ID_BACSI })</button>
                        </div>
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li>
                                    <a href="#" target="_blank"><i class="glyphicon glyphicon-heart"></i>Tuổi</a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><i class="glyphicon glyphicon-education"></i>@Html.DisplayFor(modelItem => item.KINH_NGHIEM) kinh nghiệm</a>
                                </li>
                            </ul>
                        </div>
                        <div id="inf-doctor" class="col-1">
                            <ul>
                                <li>
                                    <a href="#" data-toggle="tooltip" title="(+84) @Html.DisplayFor(modelItem => item.SDT)"><i class="glyphicon glyphicon-phone-alt"></i></a>
                                </li>

                                <li>
                                    <a href="#" data-toggle="tooltip" title="@Html.DisplayFor(modelItem => item.EMAIL)"><i class="glyphicon glyphicon-comment"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
            </div>
    </div>
</div>

@*@Html.DisplayFor(modelItem => item.IMG_BACSI)*@

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>