@model VanLangDoctor.Models.TIN_TUC

@{
    ViewBag.Title = "Thêm tin mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="page-wrapper" style="display: block;">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item"><a href="~/trang-chu-quan-ly/bac-si/danh-sach" class="text-muted">Tin tức</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-back" href="@Url.Action("Index")">
                        <span-back>Trở về</span-back>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                @if (TempData["Failed"] != null)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true" style=" float: right; margin-top: -10px">×</span>
                        </button>
                        <span><strong>@TempData["Failed"]</strong></span>
                    </div>
                }
                @using (Html.BeginForm("Create", "QL_TinTuc", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="container">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="danh_muc">Danh mục</label>
                                    <div>
                                        @Html.DropDownList("ID_Danhmuc_tin", null, htmlAttributes: new { @class = "form-control", @style = "border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%) " })
                                        @Html.ValidationMessageFor(model => model.ID_Danhmuc_tin, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="danh_muc">Tiêu đề bài viết</label>
                                    <div>
                                        <input class="form-control" style="border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%);" name="TEN_BAI_VIET" pattern="[^#$%&*><\][\\\x22\\\x40\\\x5E\\\x60\\\x3F.:_+=~;|]+$" maxlength="100" required />
                                        @Html.ValidationMessageFor(model => model.TEN_BAI_VIET, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="danh_muc">Nội dung</label>
                                    @Html.TextAreaFor(m => m.NOI_DUNG, new { @class = "myTextEditor", @name = "noi_dung" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="danh_muc">Tác giả</label>
                                    <div>
                                        @Html.EditorFor(model => model.TAC_GIA, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                        @Html.ValidationMessageFor(model => model.TAC_GIA, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="danh_muc">Keyword</label>
                                    <div>
                                        @Html.EditorFor(model => model.SEO_TITLE, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SEO_TITLE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="danh_muc">Hình ảnh</label>
                                    <div>
                                        <input class="form-control" type="file" style="width:100%;height:45px;border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%) " name="Picture" id="IMG" onchange="readPicture(this)" accept="image/jpeg,image/gif,image/png" />
                                        <br />
                                        <img id="Picture" style="height: 250px; width: 250px; object-fit: contain; border: 3px solid #0af; background-color: #000000; border-radius:15px" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <button type="submit" class="button" style="vertical-align:middle"><span>Thêm mới</span></button>
                            </div>
                            <div class="form-group col-md-4">
                                <a class="button" style="background-color: rgb(157 154 154 / 44%); color: black" href="@Url.Action("Index")">Quay lại</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.tiny.cloud/1/1b2536ekphkpyobvhepdu93xpk3jv8nzfibsju8wpyg5zh3c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '.myTextEditor',
        menubar: false,
        plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
        toolbar_mode: 'floating',
        height: 300
    });
    function readPicture(input) {
        if (input.files && input.files[0])
            var reader = new FileReader();
        reader.onload = function (e) {
            $('img#Picture').attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0])
    }
</script>
<script src="@Url.Content("~/Content/assets-ad/libs/jquery/dist/jquery.min.js")"></script>
<script type="text/javascript">
    $(document).ready(() => {
        new nicEditor().panelInstance('area1')
    })
</script>
