@model VanLangDoctor.Models.TIN_TUC

@{
    ViewBag.Title = "Xoá tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Xin chào</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index_TT", "QL_TinTuc")">Thông tin tin tức</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <form action="@Url.Action("Delete_TT", "QL_TinTuc")" method="post">
                <div class="container">
                    <h1>Tin Tức</h1>
                    <p>Thông tin chi tiết của tin tức</p>
                    <hr>
                    <label for="ten_bai_viet"><b>Tên bài viết</b></label>
                    <input type="text" value="@Html.DisplayFor(model => model.TEN_BAI_VIET)" name="ten_bai_viet" readonly required>

                    <label for="ngay_dang"><b>Ngày đăng</b></label>
                    <input type="text" value="@Html.DisplayFor(model => model.NGAY_DANG)" name="ngay_dang" readonly required>

                    <label for="noi_dung"><b>Nội dung</b></label>
                    <input type="text" value="@Html.DisplayFor(model => model.NOI_DUNG)" name="noi_dung" readonly required>

                    <label for="tac_gia"><b>Tác giả</b></label>
                    <input type="text" value="@Html.DisplayFor(model => model.TAC_GIA)" name="tac_gia" readonly required>

                    <label for="seo_title"><b>SEO TITLE</b></label>
                    <input type="text" value="@Html.DisplayFor(model => model.SEO_TITLE)" name="seo_title" readonly required>

                    <label for="hinh_anh"><b>Hình ảnh</b></label>
                    <img id="Picture" src="@Url.Action("Picture", new {Model.ID_TIN_TUC})" width="300" />

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input id="delete" type="submit" value="Xoá" class="btn" />
                            @Html.ActionLink("Quay lại", "Index_TT")
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
