@model VanLangDoctor.Models.TIN_TUC

@{
    ViewBag.Title = "Cập nhật tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Tin tức</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index", "QL_TinTuc")">Chi tiết tin tức</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-plus" href="@Url.Action("Index", "QL_TinTuc")">
                            <span>Trở về</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            @using (Html.BeginForm("Edit", "QL_TinTuc", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID_TIN_TUC)

                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label><b>Danh mục tin</b></label>
                                <div class="col-md-12">
                                    @Html.DropDownList("ID_Danhmuc_tin", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ID_Danhmuc_tin, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ten_bai_viet"><b>Tên bài viết</b></label>
                                <div class="form-actions no-color">
                                    @Html.EditorFor(model => model.TEN_BAI_VIET, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TEN_BAI_VIET, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ngay_dang"><b>Ngày đăng</b></label>
                                <div class="form-actions no-color">
                                    @Html.EditorFor(model => model.NGAY_DANG, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                    @Html.ValidationMessageFor(model => model.NGAY_DANG, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="noi_dung"><b>Nội dung</b></label>
                                <div class="form-actions no-color">
                                    @Html.TextAreaFor(m => m.NOI_DUNG, new { @class = "form-control", @id = "area1" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tac_gia"><b>Tác giả</b></label>
                                <div class="form-actions no-color">
                                    @Html.EditorFor(model => model.TAC_GIA, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TAC_GIA, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="seo_title"><b>Keyword</b></label>
                                <div class="form-actions no-color">
                                    @Html.EditorFor(model => model.SEO_TITLE, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.SEO_TITLE, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="hinh_anh"><b>Hình ảnh</b></label>
                                <div class="col-md-4">
                                    <input class="form-control" type="file" name="Picture" id="IMG" onchange="readPicture(this)" accept="image/jpeg,image/gif,image/png" />
                                    <br />
                                    <img id="Picture" src="@Url.Action("Picture","QL_TinTuc", new {Model.ID_TIN_TUC})" style="height: 250px; width: 250px; object-fit: contain; border: 3px solid #0af; background-color: #000000" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <button type="submit" class="button" style="vertical-align:middle"><span>Cập nhật</span></button>
                                </div>
                                <div class="col-md-4">
                                    <a class="button" style="background-color: rgb(157 154 154 / 44%); color: black" href="@Url.Action("Index")">Quay lại</a>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="container-fluid">
                                <div style="text-align:right; font-size:30px;" title="Về đầu trang">
                                    <a href='#' class="badge badge-pill badge-dark" title="Về đầu trang">&#710;</a>
                                </div>
                            </div>
                        </footer>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function readPicture(input) {
        if (input.files && input.files[0])
            var reader = new FileReader();
        reader.onload = function (e) {
            $('img#Picture').attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0])
    }
</script>
<script src="@Url.Content("~/Content/assets-ad/libs/jquery/dist/jquery.min.js")"></script>
<script type="text/javascript">
    $(document).ready(() => {
        new nicEditor().panelInstance('area1')
    })
</script>