@model VanLangDoctor.Models.TIN_TUC

@{
    ViewBag.Title = "Cập nhật tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-7 align-self-center">
                    <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Tin tức</h3>
                    <div class="d-flex align-items-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index", "QL_TinTuc")">Chi tiết tin tức</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-5 align-self-center">
                    <div class="customize-input float-right">
                        <a class="button-plus" href="@Url.Action("Index", "QL_TinTuc")">
                            <span>Trở về</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "QL_TinTuc", FormMethod.Post, new { enctype = "multipart/form-data", id= "create_news" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="container">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID_TIN_TUC)
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="danh_muc">Danh mục</label>
                                        <div>
                                            @Html.DropDownList("ID_Danhmuc_tin", null, htmlAttributes: new { @class = "form-control", @required = true, @style = "border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%) " })
                                            @Html.ValidationMessageFor(model => model.ID_Danhmuc_tin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="danh_muc">Tiêu đề bài viết</label>
                                        <div class="form-actions no-color">
                                            @Html.EditorFor(model => model.TEN_BAI_VIET, new { htmlAttributes = new { @class = "form-control", @required = true, @style = "border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%) " } })
                                            @Html.ValidationMessageFor(model => model.TEN_BAI_VIET, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="ngay_dang">Ngày đăng</label>
                                        <div>
                                            @Html.EditorFor(model => model.NGAY_DANG, new { htmlAttributes = new { @class = "form-control", @readonly = true, @style = "border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%) " } })
                                            @Html.ValidationMessageFor(model => model.NGAY_DANG, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="danh_muc">Nội dung</label>
                                        <textarea class="myTextEditor" name="noi_dung">@Model.NOI_DUNG</textarea>
                                        @*@Html.TextAreaFor(m => m.NOI_DUNG, new { @class = "myTextEditor", @name = "noi_dung", @required = true })*@
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="danh_muc">Tác giả</label>
                                        <div>
                                            @Html.EditorFor(model => model.TAC_GIA, new { htmlAttributes = new { @class = "form-control", @required = true, @style = "border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%) " } })
                                            @Html.ValidationMessageFor(model => model.TAC_GIA, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="danh_muc">Keyword</label>
                                        <div>
                                            @Html.EditorFor(model => model.SEO_TITLE, new { htmlAttributes = new { @class = "form-control", @required = true, @style = "border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%) " } })
                                            @Html.ValidationMessageFor(model => model.SEO_TITLE, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label for="danh_muc">Hình ảnh</label>
                                        <div>
                                            <input class="form-control" type="file" style="width:100%;height:45px;border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%) " name="Picture" id="IMG" onchange="readPicture(this)" accept="image/jpeg,image/gif,image/png" />
                                            <br />
                                            <img id="Picture" src="@Url.Action("Picture","QL_TinTuc", new {Model.ID_TIN_TUC})" style="height: 250px; width: 250px; object-fit: contain; border: 3px solid #0af; background-color: #000000" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <button type="submit" class="button" style="vertical-align:middle"><span>Cập nhật</span></button>
                                </div>
                                <div class="form-group col-md-4">
                                    <a class="button" style="background-color: rgb(157 154 154 / 44%); color: black" href="@Url.Action("Index")">Quay lại</a>
                                </div>
                            </div>
                        </div>
                        <footer>
                            <div class="container-fluid">
                                <div style="text-align:right; font-size:30px;" title="Về đầu trang">
                                    <a href='#' class="badge badge-pill badge-dark" title="Về đầu trang">&#710;</a>
                                </div>
                            </div>
                        </footer>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-10" id="exampleModalLabel"><strong>Thông báo từ hệ thống:</strong></h5>
                <button type="button" class="close col-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center">
                Vui lòng nhập nội dung!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.tiny.cloud/1/1b2536ekphkpyobvhepdu93xpk3jv8nzfibsju8wpyg5zh3c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '.myTextEditor',
        menubar: false,
        plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
        toolbar_mode: 'floating',
        height: 300
    });
    function readPicture(input) {
        if (input.files && input.files[0])
            var reader = new FileReader();
        reader.onload = function (e) {
            $('img#Picture').attr('src', e.target.result)
        };
        reader.readAsDataURL(input.files[0])
    }
</script>
<script src="@Url.Content("~/Content/assets-ad/libs/jquery/dist/jquery.min.js")"></script>
<script type="text/javascript">
    $(document).ready(() => {
        new nicEditor().panelInstance('area1')
    })
</script>
<script type="text/javascript">
    $(document).ready(() => {
        $('#create_news').off('submit').submit(e => {
            var noiDung = tinymce.activeEditor.getContent();
            if (!noiDung) {
                e.preventDefault();
                $('#exampleModal').modal();
            }
        });
    })
</script>
