@model IEnumerable<VanLangDoctor.Models.TIN_TUC>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/dist-ad/css/style.min.css" rel="stylesheet">

<div class="page-wrapper" style="display: block">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">@ViewBag.Title</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item"><a href="/trang-chu-quan-ly" class="text-muted">Trang chủ</a></li>
                            <li class="breadcrumb-item text-muted active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="col-5 align-self-center">
                <div class="customize-input float-right">
                    <a class="button-plus" href="@Url.Action("Create", "QL_TinTuc")">
                        <span>Đăng tin mới</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            @if (TempData["Success"] != null)
                            {
                                <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert" id="successMessage">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true" style=" float: right; margin-top: -10px">×</span>
                                    </button>
                                    <strong>@TempData["Success"]</strong>
                                </div>
                            }
                            <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                <tr>
                                    <th>Hình ảnh</th>

                                    <th>Tên bài viết</th>

                                    <th>Ngày đăng</th>

                                    <th>Nội dung</th>

                                    <th>Tác giả</th>

                                    <th>SEO TITLE</th>

                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@Url.Action("Picture", new {item.ID_TIN_TUC})" width="50" height="48" />
                                        </td>
                                        <td>
                                            @item.TEN_BAI_VIET
                                        </td>
                                        <td>
                                            @Html.FormatValue(item.NGAY_DANG, "{0:d}")
                                        </td>
                                        <td>
                                            @if (item.NOI_DUNG.Length < 50)
                                            {
                                                @item.NOI_DUNG
                                            }
                                            else
                                            {
                                                @item.NOI_DUNG.Substring(0, 50).ToString() <span>...</span>
                                            }
                                        </td>
                                        <td>
                                            @item.TAC_GIA
                                        </td>
                                        <td>
                                            @item.SEO_TITLE
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit","QL_TinTuc", new { id = item.ID_TIN_TUC })"><i class="ti-pencil"></i></a>
                                            <a href="@Url.Action("Delete","QL_TinTuc", new { id = item.ID_TIN_TUC })"><i class="ti-trash"></i></a>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

