@model VanLangDoctor.Models.DAT_LICH_TU_VAN

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}



<h2>Create</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>DAT_LICH_TU_VAN</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                    @Html.LabelFor(model => model.ID_USER, "ID_USER", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ID_USER", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ID_USER, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.ID_BAC_SI, "ID_BAC_SI", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ID_BAC_SI", null, htmlAttributes: new { @class = "form-control", @id = "BAC_SI" })
                    @Html.ValidationMessageFor(model => model.ID_BAC_SI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NGAY_KHAM, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*<input type="datetime" value="" class="form-group" />*@
                    <select id="Ngay_Truc" name="NGAY_KHAM" class="form-control" style="border-radius: 15px; box-shadow: 4px 4px 10px rgb(0 0 0 / 20%)" required>
                        <option value="" selected> Choose...</option>
                    </select>
                    @*@Html.EditorFor(model => model.NGAY_KHAM, new { htmlAttributes = new { @class = "form-control", @id = "Ngay_Truc" } })
                        @Html.ValidationMessageFor(model => model.NGAY_KHAM, "", new { @class = "text-danger" })*@
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.LINK_GG, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LINK_GG, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LINK_GG, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TRANG_THAI, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TRANG_THAI, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TRANG_THAI, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

<script>
    $('#BAC_SI').change(function () {
        let id = $(this).val();
        $.get('/DatLichTuVan/GetDoctor/' + id, function (data) {
            console.log(data);
            var ngaytruc = $('#Ngay_Truc');
            for (var i = 0; i < data.Ngay_Truc.length; i++) {
                ngaytruc.append(`<option value="${data.Ngay_Truc[i]}" selected>${data.Ngay_Truc[i]}</option>`);
            }
            //console.log(ngaytruc);
            //$.each(ngaytruc, function () {
            //    $('#Ngay_Truc').append(`<option value="${Ngay_Truc}" selected>${ngaytruc}</option>`);
            //});
        });
    });
</script>